{% extends "core/base.html" %} <!-- extends path starting from templates directory, concatenates all contents of templates -->

{% block title %}GEBA - Analytics{% endblock title %}

{% block header %}
{% endblock header %}

{% load staticfiles %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('')">

      <div class="container-fluid">
        <div class="row">
          <div class="col-8 mx-auto">
            <div class="site-heading">
              <h1>
                  Analytics
              </h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <article>
        <div class="container-fluid" id="DataContainer" url_endpoint="{% url 'geba_analytics:api-data' %}">

            <div class="row justify-content-center">
                <h1>Object Views</h1>
            </div>

            <div class="row justify-content-center">

                <div class="col-3">
                    <div class="row">
                        <canvas id="todayViewedChart" width="400" height="400" role="img" aria-label=""></canvas>
                    </div>
                </div>

                <div class="col-3">
                    <div class="row">
                        <canvas id="dailyViewedChart" width="400" height="400" role="img" aria-label=""></canvas>
                    </div>
                </div>

                <div class="col-3">
                    <div class="row">
                        <canvas id="monthlyViewedChart" width="400" height="400" role="img" aria-label=""></canvas>
                    </div>
                </div>
            </div>
        </div>

    </article>


{% endblock content %}

{% block javascript %}
    <script src="{% static 'apps/geba_analytics/js/geba_analytics.js' %}"></script>
{% endblock javascript %}

