{% with child_comment.unvoted_net_likes as "unvoted_likes" %}
    {% if child_comment.is_voted_up %}
        <div class="link ffsMLm" current_class="likes">
            <button class="cYUyoUM3wmgRXEHv1LlZv">
                <div class="midcol-comments likes">
                    <i class="arrow up upvote-btn login-required access-required upmod"
                     data-event-action="upvote" title="upvote"
                     role="button" aria-label="upvote" data-object="{{ child_comment }}"
                     data-href="{{ child_comment.get_api_like_url }}"></i>
                </div>
            </button>
            <button class="cYUyoUM3wmgRXEHv1LlZv">
                <div class="midcol-comments likes">
                    <i class="arrow down downvote-btn login-required access-required"
                         data-event-action="downvote" role="button"
                         aria-label="downvote" title="downvote" data-object="{{ child_comment }}"
                         data-href="{{ child_comment.get_api_dislike_url }}"></i>
                </div>
            </button>
        </div>
    {% elif  child_comment.is_voted_down %}
        <div class="link ffsMLm" current_class="dislikes">
            <button class="cYUyoUM3wmgRXEHv1LlZv">
                <div class="midcol-comments dislikes">
                    <i class="arrow up upvote-btn login-required access-required"
                     data-event-action="upvote" title="upvote"
                     role="button" aria-label="upvote" data-object="{{ child_comment }}"
                     data-href="{{ child_comment.get_api_like_url }}"></i>
                </div>
            </button>
            <button class="cYUyoUM3wmgRXEHv1LlZv">
                <div class="midcol-comments dislikes">
                    <i class="arrow down downvote-btn login-required access-required downmod"
                         data-event-action="downvote" role="button"
                         aria-label="downvote" title="downvote" data-object="{{ child_comment }}"
                         data-href="{{ child_comment.get_api_dislike_url }}"></i>
                </div>
            </button>
        </div>
    {% else %}
        <div class="link ffsMLm" current_class="unvoted">
            <button class="cYUyoUM3wmgRXEHv1LlZv">
                <div class="midcol-comments unvoted">
                    <i class="arrow up upvote-btn login-required access-required"
                     data-event-action="upvote" title="upvote"
                     role="button" aria-label="upvote" data-object="{{ child_comment }}"
                     data-href="{{ child_comment.get_api_like_url }}"></i>
                </div>
            </button>
            <button class="cYUyoUM3wmgRXEHv1LlZv">
                <div class="midcol-comments unvoted">
                    <i class="arrow down downvote-btn login-required access-required"
                         data-event-action="downvote" role="button"
                         aria-label="downvote" title="downvote" data-object="{{ child_comment }}"
                         data-href="{{ child_comment.get_api_dislike_url }}"></i>
                </div>
            </button>
        </div>
    {% endif %}
{% endwith %}