<footer>by: {{ comment.author }} | {{ comment.timestamp|timesince }} ago |
    {% if child_comments.count > 0 %}
        {{ child_comments.count }} Comment{% if child_comments.count > 1 %}s |
            {% else %} |
            {% endif %}
        {% endif %}
        <a class='comment-reply-btn' href="#">Reply</a> | <a class="" href="{{ comment.get_absolute_url }}">
            Thread
        </a>
        {% if request.user == comment.author %} |
        <!-- make comment delete-able if the user is the author -->
        <a class="" data-toggle="modal" data-target="#DeleteCommentModal" data-content="{{ comment.content }}"
        data-url="{% url 'comments:delete' comment.id %}" data-csrf="{% csrf_token %}">
            <span class="fa fa-trash"></span>
        </a>
    {% endif %}
</footer>