{% with comment.unvoted_net_likes as "unvoted_likes" %}
    {% if comment.is_voted_up %}
        <div class="link" current_class="likes">
            <div class="midcol-comments likes">
                <div class="test-size">
                    <i class="arrow up upvote-btn login-required access-required upmod"
                     data-event-action="upvote" title="upvote"
                     role="button" aria-label="upvote" data-object="{{ comment }}"
                     data-href="{{ comment.get_api_like_url }}"></i>
                </div>
                <div class="test-size">
                    <i class="arrow down downvote-btn login-required access-required"
                         data-event-action="downvote" role="button"
                         aria-label="downvote" title="downvote" data-object="{{ comment }}"
                         data-href="{{ comment.get_api_dislike_url }}"></i>
                </div>
            </div>
        </div>
    {% elif  comment.is_voted_down %}
        <div class="link" current_class="dislikes">
            <div class="midcol-comments dislikes">
                <div class="test-size">
                    <i class="arrow up upvote-btn login-required access-required"
                     data-event-action="upvote" title="upvote"
                     role="button" aria-label="upvote" data-object="{{ comment }}"
                     data-href="{{ comment.get_api_like_url }}"></i>
                </div>
                <div class="test-size">
                    <i class="arrow down downvote-btn login-required access-required downmod"
                         data-event-action="downvote" role="button"
                         aria-label="downvote" title="downvote" data-object="{{ comment }}"
                         data-href="{{ comment.get_api_dislike_url }}"></i>
                </div>
            </div>
        </div>
    {% else %}
        <div class="link" current_class="unvoted">
            <div class="midcol-comments unvoted">
                <div class="test-size">
                    <i class="arrow up upvote-btn login-required access-required"
                     data-event-action="upvote" title="upvote"
                     role="button" aria-label="upvote" data-object="{{ comment }}"
                     data-href="{{ comment.get_api_like_url }}"></i>
                </div>
                <div class="test-size">
                    <i class="arrow down downvote-btn login-required access-required"
                         data-event-action="downvote" role="button"
                         aria-label="downvote" title="downvote" data-object="{{ comment }}"
                         data-href="{{ comment.get_api_dislike_url }}"></i>
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}