{% extends "core/base.html" %} <!--  extends path starting from templates directory, concatenates all contents of templates -->

{% block title %}GEBA - Sign In{% endblock %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel='stylesheet' href="{% static 'apps/geba_auth/css/geba_auth.css' %}"/>
{% endblock css %}

{% block header %}

<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto">
        <div class="site-heading">
          <h1>Sign In!</h1>
        </div>
      </div>
    </div>
  </div>
</header>

{% endblock header %}

{% block content %}
<article>
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="geba_reg-col">
                <h3>Login to GEBA Tech!</h3>
                <p>Enter username and password to log on:</p>

                <form role="form" action="{% url 'geba_auth:login' %}" method="post">
                    {% csrf_token %}

                    {{ form|crispy }}

                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>

                <!--
                <div class="social-login">
                    <h3 class="mt-1">...or login with:</h3>
                    <div class="social-login-buttons">
                        <a class="btn btn-primary" href="#">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                        <a class="btn btn-primary" href="#">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a class="btn btn-primary" href="#">
                            <i class="fa fa-github"></i> GitHub
                        </a>
                    </div>
                </div>-->

            </div>
        </div>
    </div>

</article>

{% endblock content %}

{% block java %}

{% endblock java %}