{% extends "core/base.html" %} <!-- extends path starting from templates directory, concatenates all contents of templates -->

{% block title %}GEBA - Blog{% endblock title %}

{% block header %}

    {% load staticfiles %}
    {% load crispy_forms_tags %}
    {% load comment %}
    <link rel='stylesheet' href="{% static 'apps/blog/css/custom.css' %}"/>
    <link rel='stylesheet' href="{% static 'apps/vote/css/vote.css' %}"/>
    <!--<link rel='stylesheet' href="{% static 'apps/blog/css/clean-blog.min.css' %}"/>-->

{% endblock header %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead"
        {% if post.image %}
            style="background-image: url({{ post.image }})">
        {% else %}
            style="background-image: url('http://placehold.it/700x300')">
        {% endif %}

      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}
            {% if post.draft %}
              <span class="badge-geba" id="draft-{{ post.slug }}">Draft</span>
            {% else %}
              <span class="badge-geba hidebadge" id="draft-{{ post.slug }}">Draft</span>
            {% endif %}

            {% if post.is_future_publication %}
              <span class="badge-geba" >Future Blog</span>
            {% endif %}
              </h1>
              <!--<span class="subheading">Have questions? I have answers (maybe).</span>-->
              <span class="meta">Posted by <a href="#">{{ post.author }},</a>
                {% if post.publish_date == post.modified %}
                Published: {{ post.publish_date|timesince }} ago
                {% else %}
                Published: {{ post.publish_date|timesince }} ago
                (Updated: {{ post.modified|timesince }} ago)
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col">
                    {% if messages %}
                        {% include "blog/messages.html" %}
                    {% endif %}
                    {% load markdown_deux_tags %}

                    {% if user.is_staff or user.is_superuser %}
                        <a class="btn btn-default" href="{% url 'blog:create' %}" role="button">New Blog</a>
                        <a class="btn btn-default" href="{% url 'blog:update' post.slug %}" role="button">Edit Blog</a>

                        {% if post.draft %}
                            <a class="btn btn-default publish-btn" data-href="{% url 'blog:publish_ajax' post.slug %}"
                               data-slug="{{ post.slug }}" id="publish_{{ post.slug }}" role="button">Publish</a>
                            <a class="btn btn-default draft-btn hidebtn" data-href="{% url 'blog:draft_ajax' post.slug %}"
                               data-slug="{{ post.slug }}" id="draft_{{ post.slug }}" role="button">Set as Draft</a>
                        {% else %}
                            <a class="btn btn-default draft-btn" data-href="{% url 'blog:draft_ajax' post.slug %}"
                               data-slug="{{ post.slug }}" id="draft_{{ post.slug }}" role="button">Set as Draft</a>
                            <a class="btn btn-default publish-btn hidebtn" data-href="{% url 'blog:publish_ajax' post.slug %}"
                               data-slug="{{ post.slug }}" id="publish_{{ post.slug }}" role="button">Publish</a>
                        {% endif %}

                        <a class="btn btn-default" href='#' type="btn btn-default"  data-toggle="modal" data-target="#DeletePostModal">Delete Blog</a>

                    {% endif %}
                </div>
            </div>

             <div class="row">
                <div class="col">

                </div>
            </div>

            <div class="row justify-content-md-center">

                <!-- This div will contain the voting -->
                <div class="col-sm-1">
                    {% include "blog/blog_vote.html" %}
                </div>

                <!-- this div will contain the contents of the post, including comments -->
                <div class="col-sm-8 content-markdown">
                    <div class="post-body">{{ post.get_html }}</div>

                    <div class="row">
                        <div class="col">
                            <a class="btn btn-default" href="#Top">Top of Page</a>
                        </div>
                    </div>

                    <hr>

                    <p class='lead'>Comments</p>
                    <form method="POST" action="{% url 'blog:detail' post.slug %}">
                        {% csrf_token %}
                        {{ comment_form|crispy }}
                        <input type="submit" value="Post comment" class="btn btn-default">
                    </form>

                    {% for comment in comments %}
                        <hr>
                        <div class="row">
                            <div class="col-sm-1">
                                {% include "comments/comment_vote.html" %}
                            </div>
                            <div class="col-sm-8">
                                <blockquote>
                                    <p>{{ comment.content }}</p>

                                    {% children_annotate comment user.id as child_comments %}

                                    {% include 'comments/comment_footer.html' %}

                                    <div class="comment-reply">

                                        {% for child_comment in child_comments %}
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-1">
                                                    {% include "comments/child_comment_vote.html" %}
                                                </div>
                                                <div class="col-sm-8">
                                                    {% include 'comments/child_comment.html' %}
                                                </div>
                                            </div>
                                        {% endfor %}

                                        <form method="POST" action="{% url 'blog:detail' post.slug %}">
                                            {% csrf_token %}
                                            {{ comment_form|crispy }}
                                            <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                            <input type="submit" value="Reply" class="btn btn-default">
                                        </form>

                                        <!-- toggle-able help text -->
                                        <a class="markdown-help-btn" href="#">Formatting Help</a>

                                        <div class="markdown-help">
                                            {% markdown_cheatsheet %}
                                        </div>
                                    </div>

                                </blockquote>
                            </div>
                        </div>

                    {% endfor %}
                </div>


            </div>
        </div>
    </article>

    <div class="modal fade" id="DeletePostModal" tabindex="-1" role="dialog" aria-labelledby="DeletePostModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h4 class="modal-title" id="DeletePostModalLabel">Delete Blog</h4>
              </div>
              <div class="modal-body">
                  <p>Are you sure you want to delete the following blog post: "{{ object }}"?</p>
              </div>
              <div class="modal-footer">
                <form method="POST" action="{% url 'blog:delete' post.slug %}">
                    {% csrf_token %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Delete" class="btn btn-default"/>
                </form>
              </div>
            </div>
        </div>
    </div>

    {% include "comments/delete_comment_modal.html" %}
    {% include "vote/login_vote_modal.html" %}
{% endblock content %}

{% block javascript %}
    <script src="{% static 'apps/comments/js/comment.js' %}"></script>
    <script src="{% static 'apps/core/js/badge.js' %}"></script>
    <script src="{% static 'apps/vote/js/vote.js' %}"></script>
{% endblock javascript %}