{% extends "core/base.html" %} <!-- extends path starting from templates directory, concatenates all contents of templates -->

{% block title %}GEBA - Blog{% endblock title %}

{% block header %}

    {% load staticfiles %}
    {% load crispy_forms_tags %}
    {% load comment %}
    <link rel='stylesheet' href="{% static 'apps/core/css/sidebar.css' %}"/>
    <link rel='stylesheet' href="{% static 'apps/core/css/sidebar.css' %}"/>
    <link rel='stylesheet' href="{% static 'apps/blog/css/blog.css' %}"/>
    <link rel='stylesheet' href="{% static 'apps/vote/css/vote.css' %}"/>
    <link rel='stylesheet' href="{% static 'apps/comments/css/comments.css' %}"/>
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">

{% endblock header %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead"
        {% if post.image %}
            style="background-image: url({{ post.image.url }})">
        {% else %}
            style="background-image: url('')">
        {% endif %}

      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}
            {% if post.draft %}
              <span class="badge-geba" id="draft-{{ post.slug }}">Draft</span>
            {% else %}
              <span class="badge-geba hidebadge" id="draft-{{ post.slug }}">Draft</span>
            {% endif %}

            {% if post.is_future_publication %}
              <span class="badge-geba" >Future Blog</span>
            {% endif %}
              </h1>
              <!--<span class="subheading">Have questions? I have answers (maybe).</span>-->
              <span class="meta">Posted by <a href="#">{{ post.author }},</a>
                {% if post.publish_date == post.modified %}
                Published: {{ post.publish_date|timesince }} ago
                {% else %}
                Published: {{ post.publish_date|timesince }} ago
                (Updated: {{ post.modified|timesince }} ago)
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <article>
        <div class="container-fluid" id="page-content-wrapper">

            <div class="row justify-content-center">
                <div class="geba_body-col geba_vote-offset">
                    {% if messages %}
                        {% include "blog/messages.html" %}
                    {% endif %}
                    {% load markdown_deux_tags %}
                </div>
            </div>

            <div class="row justify-content-center geba-large-flex">
                <div class="geba_body-col geba_vote-offset">
                    {% if user.is_staff or user.is_superuser %}
                        <a class="btn btn-primary" href="{% url 'blog:create' %}" role="button">New Blog</a>
                        <a class="btn btn-primary" href="{% url 'blog:update' post.slug %}" role="button">Edit Blog</a>

                        {% if post.draft %}
                            <a class="btn btn-primary publish-btn" data-href="{% url 'blog:publish_ajax' post.slug %}"
                               data-slug="{{ post.slug }}" id="publish_{{ post.slug }}" href="#" role="button">Publish</a>
                            <a class="btn btn-primary draft-btn hidebtn" data-href="{% url 'blog:draft_ajax' post.slug %}"
                               data-slug="{{ post.slug }}" id="draft_{{ post.slug }}" href="#" role="button">Set as Draft</a>
                        {% else %}
                            <a class="btn btn-primary draft-btn" data-href="{% url 'blog:draft_ajax' post.slug %}"
                               data-slug="{{ post.slug }}" id="draft_{{ post.slug }}" href="#" role="button">Set as Draft</a>
                            <a class="btn btn-primary publish-btn hidebtn" data-href="{% url 'blog:publish_ajax' post.slug %}"
                               data-slug="{{ post.slug }}" id="publish_{{ post.slug }}" href="#" role="button">Publish</a>
                        {% endif %}

                        <a class="btn btn-primary" href='#' data-toggle="modal" data-target="#DeletePostModal">Delete Blog</a>

                    {% endif %}
                </div>
            </div>

            {% if user.is_staff or user.is_superuser %}
                <div class="row justify-content-center">
                    <div class="geba_body-col geba_vote-offset">
                        <a href="#" class="btn geba-menu-btn geba-mobile geba-toggle" id="menu-toggle">
                            <i class="fa fa-caret-left geba-caret-right-padding"></i>
                            <i class="fa fa-bars"></i>
                            <i class="fa fa-caret-right geba-caret-left-padding"></i>
                        </a>
                    </div>
                </div>
            {% endif %}

            <div class="row justify-content-center mt-3">

                {% if user.is_staff or user.is_superuser %}
                    <div id="sidebar-wrapper">
                        <ul class="list-group sidebar-nav">
                            <a class="list-group-item list-group-item-project" href="{% url 'blog:create' %}" role="button">New Blog</a>
                            <a class="list-group-item list-group-item-project" href="{% url 'blog:update' post.slug %}" role="button">Edit Blog</a>

                            {% if post.draft %}
                                <a class="list-group-item list-group-item-project publish-btn" data-href="{% url 'blog:publish_ajax' post.slug %}"
                                   data-slug="{{ post.slug }}" id="publish_{{ post.slug }}" href="#" role="button">Publish</a>
                                <a class="list-group-item list-group-item-project draft-btn hidebtn" data-href="{% url 'blog:draft_ajax' post.slug %}"
                                   data-slug="{{ post.slug }}" id="draft_{{ post.slug }}" href="#" role="button">Set as Draft</a>
                            {% else %}
                                <a class="list-group-item list-group-item-project draft-btn" data-href="{% url 'blog:draft_ajax' post.slug %}"
                                   data-slug="{{ post.slug }}" id="draft_{{ post.slug }}" href="#" role="button">Set as Draft</a>
                                <a class="list-group-item list-group-item-project publish-btn hidebtn" data-href="{% url 'blog:publish_ajax' post.slug %}"
                                   data-slug="{{ post.slug }}" id="publish_{{ post.slug }}" href="#" role="button">Publish</a>
                            {% endif %}

                            <a class="list-group-item list-group-item-project" href='#' data-toggle="modal" data-target="#DeletePostModal">Delete Blog</a>
                        </ul>
                    </div>
                {% endif %}

                {% with post.unvoted_net_likes as unvoted_likes %}
                    <!-- This div will contain the voting -->
                    <div class="geba_vote-col">
                        {% include "blog/blog_vote.html" %}
                    </div>
                {% endwith %}
                <!-- this div will contain the contents of the post, including comments -->
                <div class="geba_body-col content-markdown">
                    <div class="post-body">{{ post.get_html }}</div>

                    <hr>

                    {% include "blog/detail_comments.html" %}

                </div>

            </div>
        </div>
    </article>

    <div class="modal fade" id="DeletePostModal" tabindex="-1" role="dialog" aria-labelledby="DeletePostModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="DeletePostModalLabel">Delete Blog</h4>
              </div>
              <div class="modal-body">
                  <p>Are you sure you want to delete the following blog post: "{{ object }}"?</p>
              </div>
              <div class="modal-footer">
                <form method="POST" action="{% url 'blog:delete' post.slug %}">
                    {% csrf_token %}
                    <button type="button submit" class="btn btn-primary" value="Delete" >Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
              </div>
            </div>
        </div>
    </div>

    {% include "comments/delete_comment_modal.html" %}
    {% include "vote/login_vote_modal.html" %}
{% endblock content %}

{% block javascript %}
    <script src="{% static 'tinymce/js/prism.js' %}"></script>
    <script src="{% static 'apps/core/js/csrf_cookie.js' %}"></script>
    <script src="{% static 'apps/comments/js/comment.js' %}"></script>
    <script src="{% static 'apps/core/js/badge.js' %}"></script>
    <script src="{% static 'apps/core/js/sidebar.js' %}"></script>
    <script src="{% static 'apps/vote/js/vote.js' %}"></script>
{% endblock javascript %}