{% extends "core/base.html" %}

{% block title %}GEBA - Blog{% endblock %}

{% block css %}
    {% load static %}
    <link rel='stylesheet' href="{% static 'apps/vote/css/vote.css' %}"/>
{% endblock css %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('')">
      <div class="container">
        <div class="row">
          <div class="col-8 col-10 mx-auto">
            <div class="site-heading">
              <h1>Blogs</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid">

        <div class="row">
            <div class="col-8 offset-1">
                {% if messages %}
                    {% include "blog/messages.html" %}
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8 offset-1">
                {% if user.is_staff or user.is_superuser %}
                    <a class="btn btn-primary" href="{% url 'blog:create' %}" role="button">New Blog</a>
                {% endif %}
            </div>
        </div>

        <!--{% include 'blog/post_search.html' %}-->

        {% if object_list|length == 0 %}
            <div class="row justify-content-center mt-3">
                <div class="col-10 mb-3">
                    <h5>There are currently no active blog posts, thanks for your interest! I have attached an accurate
                    rendition of me researching blog topics to write about. Yes, those are prescription glasses.</h5>
                </div>
                <img src="{% static 'img/monkey-750x400.jpg' %}">

            </div>
        {% else %}
            <div class="row justify-content-center mt-3">
                <div class="col-12">
                    {% load markdown_deux_tags %}

                    {% for post in object_list %} <!-- object_list is returned from the ListView of objects.all()-->
                        <div class="row justify-content-center">
                            <div class="col-1">
                                {% with post.unvoted_net_likes as "unvoted_likes" %}
                                    {% if post.is_voted_up %}
                                        <div class="link center" current_class="likes">
                                            <div class="midcol likes">
                                                {% if user.is_authenticated %}
                                                    <div class="arrow up upvote-btn login-required access-required upmod"
                                                     data-event-action="upvote" title="upvote"
                                                     role="button" aria-label="upvote" data-object="{{ post }}"
                                                     data-href="{% url 'blog:like_toggle_api' post.slug %}"></div>
                                                {% else %}
                                                    {% include "vote/unauthenticated_upvote.html" %}
                                                {% endif %}

                                                <div class="score dislikes" title="{{ unvoted_likes|add:'-1' }}">{{ unvoted_likes|add:"-1" }}</div>
                                                <div class="score unvoted" title="{{ unvoted_likes|add:'0' }}">{{ unvoted_likes|add:'0' }}</div>
                                                <div class="score likes" title="{{ unvoted_likes|add:'1' }}">{{ unvoted_likes|add:"1" }}</div>

                                                {% if user.is_authenticated %}
                                                    <div class="arrow down downvote-btn login-required access-required"
                                                         data-event-action="downvote" role="button"
                                                         aria-label="downvote" title="downvote" data-object="{{ post }}"
                                                         data-href="{% url 'blog:dislike_toggle_api' post.slug %}"></div>
                                                {% else %}
                                                    {% include "vote/unauthenticated_downvote.html" %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% elif  post.is_voted_down %}
                                        <div class="link center" current_class="dislikes">
                                            <div class="midcol dislikes">
                                                {% if user.is_authenticated %}
                                                    <div class="arrow up upvote-btn login-required access-required"
                                                     data-event-action="upvote" title="upvote"
                                                     role="button" aria-label="upvote" data-object="{{ post }}"
                                                     data-href="{% url 'blog:like_toggle_api' post.slug %}"></div>
                                                {% else %}
                                                    {% include "vote/unauthenticated_upvote.html" %}
                                                {% endif %}

                                                <div class="score dislikes" title="{{ unvoted_likes|add:'-1' }}">{{ unvoted_likes|add:"-1" }}</div>
                                                <div class="score unvoted" title="{{ unvoted_likes|add:'0' }}">{{ unvoted_likes|add:'0' }}</div>
                                                <div class="score likes" title="{{ unvoted_likes|add:'1' }}">{{ unvoted_likes|add:"1" }}</div>

                                                {% if user.is_authenticated %}
                                                    <div class="arrow down downvote-btn login-required access-required downmod"
                                                         data-event-action="downvote" role="button"
                                                         aria-label="downvote" title="downvote" data-object="{{ post }}"
                                                         data-href="{% url 'blog:dislike_toggle_api' post.slug %}"></div>
                                                {% else %}
                                                    {% include "vote/unauthenticated_downvote.html" %}
                                                {% endif %}

                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="link center" current_class="unvoted">
                                            <div class="midcol unvoted">
                                                {% if user.is_authenticated %}
                                                    <div class="arrow up upvote-btn login-required access-required"
                                                     data-event-action="upvote" title="upvote"
                                                     role="button" aria-label="upvote" data-object="{{ post }}"
                                                     data-href="{% url 'blog:like_toggle_api' post.slug %}"></div>
                                                {% else %}
                                                    {% include "vote/unauthenticated_upvote.html" %}
                                                {% endif %}

                                                <div class="score dislikes" title="{{ unvoted_likes|add:'-1' }}">{{ unvoted_likes|add:"-1" }}</div>
                                                <div class="score unvoted" title="{{ unvoted_likes|add:'0' }}">{{ unvoted_likes|add:'0' }}</div>
                                                <div class="score likes" title="{{ unvoted_likes|add:'1' }}">{{ unvoted_likes|add:"1" }}</div>

                                                {% if user.is_authenticated %}
                                                    <div class="arrow down downvote-btn login-required access-required"
                                                         data-event-action="downvote" role="button"
                                                         aria-label="downvote" title="downvote" data-object="{{ post }}"
                                                         data-href="{% url 'blog:dislike_toggle_api' post.slug %}"></div>
                                                {% else %}
                                                    {% include "vote/unauthenticated_downvote.html" %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>

                            <div class="col-8">

                                <div class="card mb-4">
                                     {% if post.image %}
                                        <img class="card-img-top" src="{{ post.image.url }}" style="width:100%; height:auto;">
                                     {% else %}
                                        <img class="card-img-top no_img">
                                     {% endif %}

                                    <div class="card-body">

                                        <h2 class="card-title">
                                            <div class="row">
                                                {% if request.user == post.author or request.user.is_superuser %}
                                                <div class="col-11">
                                                {% else %}
                                                <div class="col-12">
                                                {% endif %}

                                                {{ post.title }}

                                                {% if post.draft %}
                                                  <span class="badge-geba" id="draft-{{ post.slug }}">Draft</span>
                                                {% else %}
                                                  <span class="badge-geba hidebadge" id="draft-{{ post.slug }}">Draft</span>
                                                {% endif %}

                                                {% if post.is_future_publication %}
                                                  <span class="badge-geba" >Future Blog</span>
                                                {% endif %}

                                                </div>

                                                {% if request.user == post.author or request.user.is_superuser %}
                                                    <div class="col-1">
                                                        <div class="btn-group">
                                                            <a href="#" class="nav-link dropdown-toggle pt-0 dropdown-toggle-top"
                                                               data-toggle="dropdown" role="button" aria-haspopup="true"
                                                               aria-expanded="false" id="DropDown{{ post.id }}">
                                                              <span class="caret"></span>
                                                            </a>

                                                          <div class="dropdown-menu" aria-labelledby="DropDown{{ post.id }}">
                                                            <a class="dropdown-item" href="{% url 'blog:update' post.slug %}">Edit Blog</a>
                                                            {% if post.draft %}
                                                                <a class="dropdown-item publish-btn"
                                                                   data-href="{% url 'blog:publish_ajax' post.slug %}"
                                                                   data-slug="{{ post.slug }}"
                                                                   id="publish_{{ post.slug }}">Publish</a>
                                                                <a class="dropdown-item draft-btn hidebtn"
                                                                   data-href="{% url 'blog:draft_ajax' post.slug %}"
                                                                   data-slug="{{ post.slug }}"
                                                                   id="draft_{{ post.slug }}">Set as Draft</a>
                                                            {% else %}
                                                                <a class="dropdown-item draft-btn"
                                                                   data-href="{% url 'blog:draft_ajax' post.slug %}"
                                                                   data-slug="{{ post.slug }}"
                                                                   id="draft_{{ post.slug }}">Set as Draft</a>
                                                                <a class="dropdown-item publish-btn hidebtn"
                                                                   data-href="{% url 'blog:publish_ajax' post.slug %}"
                                                                   data-slug="{{ post.slug }}"
                                                                   id="publish_{{ post.slug }}">Publish</a>
                                                            {% endif %}
                                                            <a class="dropdown-item" data-toggle="modal"
                                                               data-target="#DeletePostModalIndex"
                                                               data-content="{{ post }}"
                                                               data-url="{{ post.get_delete_url }}">
                                                                Delete Blog</a>
                                                          </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </h2>

                                        <p class="card-text">

                                            {% if post.description %}
                                                {{ post.description }}
                                            {% else %}
                                                {% if post.get_html %}
                                                    {{ post.get_html|truncatechars_html:500 }}
                                                {% else %}
                                                    <span style='color:red;'> No Description! </span>
                                                {% endif %}
                                            {% endif %}

                                        </p>
                                        {% if post.keywords %}
                                            <p class="card-text">Keywords: {{ post.keywords }}</p>
                                        {% endif %}
                                        <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Read More →</a>
                                    </div>

                                    <div class="card-footer text-muted">
                                        Published by
                                        {% if post.author %}
                                            <a href="#">{{ post.author }}, </a>
                                            {{ post.publish_date|timesince }} ago.
                                        {% else %}
                                            <span style='color:red;'> No Authors! </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
            </div>

        {% endif %}
    </div>

    {% include "blog/delete_post_modal.html" %}
    {% include "vote/login_vote_modal.html" %}

{% endblock %}

{% block javascript %}
    <script src="{% static 'apps/core/js/csrf_cookie.js' %}"></script>
    <script src="{% static 'apps/blog/js/blog.js' %}"></script>
    <script src="{% static 'apps/core/js/badge.js' %}"></script>
    <script src="{% static 'apps/vote/js/vote.js' %}"></script>
{% endblock javascript %}
