{% extends "core/base.html" %} <!-- extends path starting from templates directory, concatenates all contents of templates -->

{% load staticfiles %}

{% block css %}
<!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen"
 href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">-->
<link rel='stylesheet' href="{% static 'apps/core/css/form_style.css' %}"/>

{% endblock css %}

{% block title %}GEBA - Update Blog{% endblock title %}

{% block content %}

    <header class="masthead">
      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto">
            <div class="site-heading">
              <h1>Update Blog</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% if messages %}
        {% include "blog/messages.html" %}
    {% endif %}

    {% load crispy_forms_tags %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class = "col-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {{ form|crispy }}

                            <!--
                            <div class="form-group">
                                <div>
                                <span class="text-danger small">{{ form.title.errors }}</span>
                                </div>
                                <label for="{{ form.title.id_for_label }}">{{ form.title.label_tag }}</label>
                                <input type="text" name="title" placeholder="Title..." class="form-control"
                                       id="{{ form.title.id_for_label }}">
                            </div>
                            <div class="form-group">
                                <div>
                                <span class="text-danger small">{{ form.body.errors }}</span>
                                </div>
                                {{ form.body.label_tag }}
                                {{ form.body }}

                            </div>
                            <div class="form-group">
                                <div>
                                <span class="text-danger small">{{ form.image.errors }}</span>
                                </div>
                                <label for="{{ form.image.id_for_label }}">{{ form.image.label_tag }}</label>
                                <input type="file" name='image' class="form-control-file" id="{{ form.image.id_for_label }}"
                                       aria-describedby="fileHelp">
                                <small id="fileHelp"
                                       class="form-text text-muted">Upload an image to represent the blog.</small>
                            </div>
                            <div class="form-group">
                                <div>
                                <span class="text-danger small">{{ form.image_caption.errors }}</span>
                                </div>
                                <label for="{{ form.image_caption.id_for_label }}">{{ form.image_caption.label_tag }}</label>
                                <input type="text" name='image_caption' class="form-control" id="{{ form.image_caption.id_for_label }}">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name='draft' id="{{ form.draft.id_for_label }}"> Draft
                                </label>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <span class="text-danger small">{{ form.publish_date.errors }}</span>
                                </div>
                                <label class="control-label col-sm-2">{{ form.publish_date.label_tag }}</label>
                                <div class="col-sm-10">{{ form.publish_date }}</div>
                            </div>-->

                            <div class="form-group">
                                <div class="col-offset-2 col_sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

