{% extends "core/base.html" %}

<div class="modal fade" id="DeletePostModal" tabindex="-1" role="dialog" aria-labelledby="DeletePostModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Delete Blog</h4>
          </div>
          <div class="modal-body">
              <p>Are you sure you want to delete the following blog post: "{{ object }}"?</p>
          </div>
          <div class="modal-footer">
            <form method="POST" action="{% url 'blog:delete' post.slug %}">
                {% csrf_token %}
                <button type="button submit" class="btn btn-primary" value="Delete" >Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </form>
          </div>
        </div>
    </div>
</div>