<div class="modal fade" id="LoginVoteModal" tabindex="-1" role="dialog" aria-labelledby="LoginVoteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="LoginVoteModalLabel">Sign </h4>
          </div>
          <div class="modal-body">
              <p>Creating a GEBA account will change your life. You can vote, and do other wicked cool stuff...</p>
              <form role="form" action="{% url 'geba_auth:register' %}" method="post">
                    {% csrf_token %}
            </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
    </div>
</div>