.geba_body-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}

.geba_body-col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.geba_body_index-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
}

.geba_body_index-col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.geba-large, .geba-medium {
    display: flex;
}

.geba-mobile, .geba-small {
    display: none;
}

@media (max-width: 940px) {
    .btn.btn-project {
        padding: 6px 5px;
    }
}

@media (max-width: 855px) {
    .geba-large {
        display: none;
    }

    .geba-mobile {
        display: flex;
    }

    .geba_body-col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }

    .geba_body_index-col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
        flex: 0 0 85%;
        max-width: 85%;
    }
}

@media (max-width: 650px) {
    .geba_body-col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
        flex: 0 0 90%;
        max-width: 90%;
    }
    .geba_body_index-col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 99%;
        flex: 0 0 99%;
        max-width: 99%;
    }

    .geba-small {
        display: flex;
    }

    .geba-large, .geba-medium {
        display: none;
    }
}


.geba-caret-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    margin-right: 0px;
    padding-right: 5px;
}