<!DOCTYPE html>
<html lang="en">

    <head>
        <!--{% load analytical %}-->
        {% load staticfiles %}

        <!--{% analytical_head_top %}-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock viewport %}


        <title>{% block title %}{% endblock title %}</title> <!-- This is the title that is seen in the tab -->

        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">-->
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
              integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">-->
        <link rel='stylesheet' href="{% static 'apps/core/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href="{% static 'apps/core/css/style.css' %}"/>
        <link rel='stylesheet' href="{% static 'apps/core/css/sticky-footer-navbar.css' %}"/>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/GEBA_Logo.ico' %}"/>

        {% block css %}{% endblock css %}

        <!--{% analytical_head_bottom %}-->
    </head>

    <body class="body">

        <div>

            <!--{% analytical_body_top %}-->

            {% include "core/navbar.html" %}

            {% block header %}{% endblock header %}

            {% block content %}{% endblock content %}
        </div>

        <hr>
        <footer>

            <div class="links">

                <ul class="left-side">
                    <li>
                        <a href="{% url 'pages:detail' 'about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'blog:index' %}">Blog</a>
                    </li>
                    <li>
                        <a href="{% url 'project:index' %}">Projects</a>
                    </li>
                    <li>
                        <a href="{% url 'pages:detail' 'terms' %}">Terms</a>
                    </li>
                    <li>
                        <a href="{% url 'pages:detail' 'privacy' %}">Privacy</a>
                    </li>

                </ul>

                <div class="social">
                    <a href="/youtube/">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>

                    <a href="/github/">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>

                    <a href="/linkedin/">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>

                    <a href="/twitter/">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>

                    <a href="#">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>

                </div>

            </div>

            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <p class="copyright text-muted">Copyright © GEBA Technology 2018</p>
              </div>
            </div>

        </footer>

        <!--{% analytical_body_bottom %}-->

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!--Placed at the end of the document so the pages load faster -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) make sure this is placed
        before bootstrap.min.js otherwise the dropdown menu will not work-->

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script
          src="https://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
                integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                crossorigin="anonymous"></script>

        <script src="{% static 'apps/core/js/navbar.js' %}"></script>
        <script src="{% static 'apps/core/js/custom.js' %}"></script>

        {% block javascript %}
        {% endblock javascript %}

    </body>


</html>