{% extends "core/base.html" %} <!-- extends path starting from templates directory, concatenates all contents of templates -->

{% block title %}GEBA - Home{% endblock title %}

{% load static from staticfiles %}

{% block css %}
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
{% endblock css %}

{% block header %}
    <header class="masthead" style="background-image: url({% static 'img/home_image.jpg' %})">
      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto">
            <div class="post-heading">
              <h1>GEBA</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

{% endblock header %}

{% block content %}
    <div class="container-fluid"> <!-- this will contain the large image below the nav-bar-->
        <div class="row">
            <div class="col-12">
                <p> Welcome to the GEBA Technologies Home Page!</p>
            </div>
        </div>
    </div>

{% endblock content %}

