{% load static %}

<nav class="navbar fixed-top" id="mainNav">

    <!---->
    <div id="navBrand">
        <a href="/">
            <img width="64" src="{% static 'img/GEBA_Logo.png' %}" alt="Header@2x">
        </a>
        <div class="bottom-wrapper">
            <div class="bottom"></div>
        </div>
    </div>

    <form id="header-search" class="navbar-form navbar-left" action="/search"
          accept-charset="UTF-8" method="get">
        <input name="utf8" type="hidden" value="✓">
        <div class="btn" id="header-search-button">
            <i class="fa fa-search"></i>
        </div>
        <input id="header-search-query" name="query" placeholder="What are you looking for?" type="text" value="">
        <span class="dropdown" id="header-search-type">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="title">All</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a data-type="blog">Blog</a></li>
                <li>

                <li>
                    <a data-type="projects">Projects</a></li>
                <li>
                    <a data-type="forum">Forum</a>
                </li>
            </ul>
        </span>
    </form>

    {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right hidden-xs">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#SignUpNavBar">
                <span class="fa fa"></span>
            </button>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false" id="navbarDropDown">
                  <span class="fa fa-user">{{ user.username }}</span><span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                    <a class="dropdown-item" href="#">My Account</a>
                    {% if user.is_superuser %}
                    <a class="dropdown-item" href="/admin">Admin</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'core:logout' %}">Logout</a>
                </div>
            </li>
        </ul>

    {% else %}
        <ul class="nav navbar-nav navbar-right hidden-xs align-items-start">
            <li>
                <a class="btn btn-primary" href="{% url 'core:register' %}">
                    <i class="visible-sm-inline fa fa-user"></i>
                    <span class="hidden-sm">Join GEBA</span>
                </a>
            </li>
            <li class="hidden-sm">
                <a class="btn btn-signup" href="{% url 'core:login' %}">Sign In</a>
            </li>
        </ul>
    {% endif %}

    <ul class="navbar-nav brand-left flex-row">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>

    </ul>

    <ul class="navbar-nav brand-right flex-row">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:index' %}">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'project:index' %}">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Forum</a>
        </li>
    </ul>

</nav>

