{% load static %}

<nav class="navbar fixed-top" id="mainNav">

    <div id="navBrand">
        <a href="/">
            <img width="64" src="{% static 'img/GEBA_Logo.png' %}" alt="Header@2x">
        </a>
        <div class="bottom-wrapper">
            <div class="bottom"></div>
        </div>
    </div>

    <form id="header-search" class="navbar-form navbar-left" action="/search"
          accept-charset="UTF-8" method="get">
        <input name="utf8" type="hidden" value="✓">
        <div class="btn_header" id="header-search-button">
            <i class="fa fa-search"></i>
        </div>
        <input id="header-search-query" name="query" placeholder="What are you looking for?" type="text" value="">
        <span class="dropdown" id="header-search-type">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="title">All</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a data-type="blog">Blog</a></li>
                <li>

                <li>
                    <a data-type="projects">Projects</a></li>
                <li>
                    <a data-type="forum">Forum</a>
                </li>
            </ul>
        </span>
    </form>

    <div id="brand-text">GEBA</div>

    <div class="navbar-header">

        {% if user.is_anonymous %}
          <a class="visible-xs-inline" id="xs-sign-in" href="{% url 'geba_auth:register' %}"><i class="fa fa-user"></i></a>
          <button class="navbar-toggle" id="mobile-nav-button" type="button">
              <div class="fa fa-bars"></div>
          </button>
        {% else %}
          <button class="navbar-toggle signed-in" id="mobile-nav-button" type="button">
              <div class="fa fa-bars"></div>
          </button>
        {% endif %}

    </div>

    {% if user.is_authenticated %}

        <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false" id="mobile-user-avatar">
                    {% if user.avatar %}
                    <img class="avatar" height="30" src="{{ user.avatar }}">
                    {% else %}
                    <img class="avatar" height="30" src="{% static 'apps/geba_auth/img/default_avatar.png' %}">
                    {% endif %}
                    <span class="hidden-xs hidden-sm">{{ user.username }}</span>
                </a>
                <div id="user-menu">
                    <ul>
                        <li><a class="dropdown-item" href="#">My Account</a></li>
                        {% if user.is_superuser %}
                        <li><a class="dropdown-item" href="/admin/">Admin</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'geba_auth:logout' %}">Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    {% else %}

        <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs align-items-start">
            <li>
                <a class="btn_header btn-primary" href="{% url 'geba_auth:register' %}">
                    <i class="visible-sm-inline fa fa-user"></i>
                    <span class="hidden-sm">Join GEBA</span>
                </a>
            </li>
            <li class="hidden-sm">
                <a class="btn_header btn-signup" href="{% url 'geba_auth:login' %}">Sign In</a>
            </li>
        </ul>
    {% endif %}

    <div id="large-nav">
        <ul class="navbar-nav brand-left flex-row">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pages:detail' 'about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pages:detail' 'contact' %}">Contact</a>
            </li>
        </ul>

        <ul class="navbar-nav brand-right flex-row">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:index' %}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'project:index' %}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Forum</a>
            </li>
        </ul>

    </div>

    <div class="mobile-nav flex-row" id="mobile-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact</a></li>
            <li><a href="{% url 'blog:index' %}">Blog</a></li>
            <li><a href="{% url 'project:index' %}">Projects</a></li>
            <li><a href="/">Forum</a></li>
        </ul>
    </div>

    <div class="mobile-nav flex-row" id="mobile-user-nav">
        <ul>
            <li><a href="#">My Account</a></li>
            {% if user.is_superuser %}
            <li><a href="/admin/">Admin</a></li>
            {% endif %}
            <li><a href="{% url 'geba_auth:logout' %}">Logout</a></li>
        </ul>
    </div>

</nav>


