{% extends "core/base.html" %}

{% block title %}GEBA - {{ page.title }}{% endblock title %}

{% block header %}

    {% load staticfiles %}
    {% load crispy_forms_tags %}

{% endblock header %}

{% block css %}
    <link rel='stylesheet' href="{% static 'apps/pages/css/pages.css' %}"/>
{% endblock css %}

{% block content %}

    <!-- Page Header -->
    {% if page.header_image %}
        <header class="masthead" style="background-image: url({{ page.header_image.url }})">
          <div class="container-fluid">
            <div class="row">
              <div class="col-8 mx-auto">
                <div class="site-heading">
                    <h1>{{ page.title }}</h1>
                </div>
              </div>
            </div>
          </div>
        </header>
    {% endif %}

    <article>
        <div class="container-fluid">
            {% if page.header_image == '' %}
                <div class="row no-header justify-content-center">
                    {% if user.is_superuser %}
                        {% if page.show_title %}
                            <div class="geba_pages-col">
                                <div class="row" style="padding-left: 15px;">
                                    <h1>{{ page.title }}</h1>
                                    <a href="{% url 'pages:update' page.slug %}">
                                    <span class="fa fa-pencil" style="padding-left: 5px;"></span></a>
                                </div>
                                <hr>
                            </div>
                        {% endif %}

                    {% else %}
                        <div class="geba_pages-col">
                            {% if page.show_title %}
                                <div class="post-heading">
                                    <h1>{{ page.title }}</h1>
                                    <hr>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            <div class="row justify-content-center mt-3">
                {% if user.is_superuser %}
                    {% if page.header_image %}
                        <div class="geba_pages-body-col content-markdown">
                            <div class="post-body">{{ page.get_html }}</div>
                        </div>
                        <div class="col-1">
                            <a href="{% url 'pages:update' page.slug %}"><span class="fa fa-pencil"></span></a>
                        </div>

                    {% else %}
                        <div class="geba_pages-col content-markdown">
                            <div class="post-body">{{ page.get_html }}</div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="geba_pages-col content-markdown">
                        <div class="post-body">{{ page.get_html }}</div>
                    </div>
                {% endif %}

            </div>
        </div>
    </article>
{% endblock content %}

{% block javascript %}

{% endblock javascript %}