{% extends "core/base.html" %} <!-- extends path starting from templates directory, concatenates all contents of templates -->

{% block title %}GEBA - Project{% endblock title %}

{% block header %}

    {% load staticfiles %}
    {% load crispy_forms_tags %}
    {% load comment %}
    <link rel='stylesheet' href="{% static 'apps/core/css/sidebar.css' %}"/>
    <link rel='stylesheet' href="{% static 'apps/project/css/project.css' %}"/>
    <link rel='stylesheet' href="{% static 'apps/vote/css/vote.css' %}"/>
    <link rel='stylesheet' href="{% static 'apps/comments/css/comments.css' %}"/>

{% endblock header %}

{% block content %}

    <!-- Page Header -->
    {% if project.image %}
        <header class="masthead" style="background-image: url({{ project.image.url }})">
    {% else %}
        <header class="masthead" style="background-image: url('')">
    {% endif %}

      <div class="container-fluid">
        <div class="row">
          <div class="col-8 mx-auto">
            <div class="post-heading">
              <h1>
                {{ project.title }}

                {% if project.draft %}
                  <span class="badge-geba" id="draft-{{ project.slug }}">Draft</span>
                {% else %}
                  <span class="badge-geba hidebadge" id="draft-{{ project.slug }}">Draft</span>
                {% endif %}

                {% if project.is_future_publication %}
                    <span class="badge-geba"  id="future-{{ project.id }}">Future Post</span>
                {% endif %}
              </h1>
              <span class="meta">Posted by
                  {% if project.authors.count > 0 %}

                    {% for author in project.authors.all %}

                        {% if forloop.last %}
                            {% if forloop.first %}
                                <a href="#">{{ author }},</a>
                            {% else %}
                                <span>and <a href="#">{{ author }}</a></span>
                            {% endif %}
                        {% else %}
                            <a href="#">{{ author }}, </a>
                        {% endif %}

                    {% endfor %}
                  {% else %}
                    <span style='color:red;'> No Authors! </span>
                  {% endif %}</a>

                {% if project.publish_date == project.modified %}
                Published: {{ project.publish_date|timesince }} ago
                {% else %}
                Published: {{ project.publish_date|timesince }} ago
                (Updated: {{ project.modified|timesince }} ago)
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <article>
        <div class="container-fluid" id="page-content-wrapper">

            <div class="row">
                <div class="geba_body-col geba_vote-offset">
                    {% if messages %}
                        {% include "project/messages.html" %}
                    {% endif %}
                    {% load markdown_deux_tags %}
                </div>
            </div>

            <div class="row geba-large">
                <!-- all the buttons for the projects -->
                <div class="geba_body-col geba_vote-offset">
                    {% if user.is_staff or user.is_superuser %}
                        <a class="btn btn-primary btn-project"
                           href="{% url 'project:create_post' project.slug project.get_next_post_order %}"
                           role="button">New Post</a>
                        <a class="btn btn-primary btn-project" href="{% url 'project:update' project.slug %}" role="button">Edit Project</a>

                        {% if project.draft %}
                            <a class="btn btn-primary publish-btn btn-project" data-href="{% url 'project:publish_post_ajax' project.slug %}"
                               data-slug="{{ project.slug }}" id="publish_{{ project.slug }}" href="#" role="button">Publish</a>
                            <a class="btn btn-primary draft-btn hidebtn btn-project" data-href="{% url 'project:draft_post_ajax' project.slug %}"
                               data-slug="{{ project.slug }}" id="draft_{{ project.slug }}" href="#" role="button">Set as Draft</a>
                        {% else %}
                            <a class="btn btn-primary draft-btn btn-project" data-href="{% url 'project:draft_project_ajax' project.slug %}"
                               data-slug="{{ project.slug }}" id="draft_{{ project.slug }}" href="#" role="button">Set as Draft</a>
                            <a class="btn btn-primary publish-btn hidebtn btn-project" data-href="{% url 'project:publish_project_ajax' project.slug %}"
                               data-slug="{{ project.slug }}" id="publish_{{ project.slug }}" href="#" role="button">Publish</a>
                        {% endif %}

                        <a class="btn btn-primary btn-project" href='#' data-toggle="modal" data-target="#DeleteProjectModal">Delete Project</a>
                    {% endif %}
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="geba_body-col geba_vote-offset">
                    <a href="#" class="btn geba-menu-btn geba-mobile geba-toggle" id="menu-toggle">
                        <i class="fa fa-caret-left geba-caret-right-padding"></i>
                        <i class="fa fa-bars"></i>
                        <i class="fa fa-caret-right geba-caret-left-padding"></i>
                    </a>
                </div>
            </div>

            <div class="row justify-content-center mt-3">

                <div id="sidebar-wrapper">
                    <ul class="list-group sidebar-nav">
                        {% if user.is_staff or user.is_superuser %}
                            <a class="list-group-item list-group-item-project"
                               href="{% url 'project:create_post' project.slug project.get_next_post_order %}"
                               role="button">New Post</a>
                            <a class="list-group-item list-group-item-project" href="{% url 'project:update' project.slug %}" role="button">Edit Project</a>

                            {% if project.draft %}
                                <a class="list-group-item publish-btn list-group-item-project" data-href="{% url 'project:publish_post_ajax' project.slug %}"
                                   data-slug="{{ project.slug }}" id="publish_{{ project.slug }}" href="#" role="button">Publish</a>
                                <a class="list-group-item draft-btn hidebtn list-group-item-project" data-href="{% url 'project:draft_post_ajax' project.slug %}"
                                   data-slug="{{ project.slug }}" id="draft_{{ project.slug }}" href="#" role="button">Set as Draft</a>
                            {% else %}
                                <a class="list-group-item draft-btn list-group-item-project" data-href="{% url 'project:draft_project_ajax' project.slug %}"
                                   data-slug="{{ project.slug }}" id="draft_{{ project.slug }}" href="#" role="button">Set as Draft</a>
                                <a class="list-group-item hidebtn list-group-item-project" data-href="{% url 'project:publish_project_ajax' project.slug %}"
                                   data-slug="{{ project.slug }}" id="publish_{{ project.slug }}" href="#" role="button">Publish</a>
                            {% endif %}

                            <a class="list-group-item list-group-item-project" href='#' data-toggle="modal" data-target="#DeleteProjectModal">Delete Project</a>
                        {% endif %}

                        {% for post in project.get_project_posts %}
                            <a href="{% url 'project:detail' post.slug %}" class="list-group-item">{{ post.title }}</a>
                        {% endfor %}
                    </ul>
                </div>

                <!-- This div will contain the voting -->
                <div class="geba_vote-col">
                    {% include "project/project_vote.html" %}
                </div>

                <!-- this div will contain the contents of the post -->
                <div class="geba_body-col content-markdown">
                    <div class="post-body">{{ project.get_html }}</div>

                </div>

                <!-- sidebar -->
                <div class="col-3 ml-sm-auto geba-large">
                    <div class="list-group">
                        {% for post in project.get_project_posts %}
                            <a href="{% url 'project:detail' post.slug %}" class="list-group-item">{{ post.title }}</a>
                        {% endfor %}
                    </div>
                </div>

            </div>

            <!-- header before the project post index -->

            <div class="row justify-content-center">
                 <div class="geba_body-col geba_vote-offset">
                     <h2>Project Contents</h2>
                     <hr>
                 </div>

                <div class="col-3 ml-sm-auto geba-large"></div>
            </div>

            <!-- iterates through all the project posts within this project -->
            {% for post in project.get_project_posts %}
                <div class="row justify-content-center">
                    <div class="geba_body-col geba_vote-offset">
                        <div class="card mb-4">
                             {% if post.image %}
                                <img class="card-img-top" src="{{ post.image.url }}"  style="width:100%; height:auto;">
                             {% else %}
                                <img class="card-img-top no_img">
                             {% endif %}

                            <div class="card-body">

                                <h2 class="card-title">

                                    <div class="row">
                                        {% if request.user == post.author or request.user.is_superuser %}
                                            <div class="col-11">
                                        {% else %}
                                            <div class="col-12">
                                        {% endif %}

                                        {{ post.title }}

                                        {% if post.draft %}
                                          <span class="badge-geba" id="draft-{{ post.slug }}">Draft</span>
                                        {% else %}
                                          <span class="badge-geba hidebadge" id="draft-{{ post.slug }}">Draft</span>
                                        {% endif %}

                                        {% if post.is_future_publication %}
                                            <span class="badge-geba">Future Post</span>
                                        {% endif %}
                                        </div>

                                        {% if request.user == post.author or request.user.is_superuser %}
                                            <div class="geba_vote-col">
                                                <div class="btn-group">
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </h2>

                                <p class="card-text">

                                    {% if post.description %}
                                        {{ post.description }}
                                    {% else %}
                                        {% if post.get_html %}
                                            {{ post.get_html|truncatechars_html:500 }}
                                        {% else %}
                                            <span style='color:red;'> No Body! </span>
                                        {% endif %}
                                    {% endif %}

                                </p>
                                {% if post.keywords %}
                                    <p class="card-text">Keywords: {{ post.keywords }}</p>
                                {% endif %}
                                <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Read More →</a>
                            </div>

                            <div class="card-footer text-muted">
                                Published by
                                {% if post.author %}
                                    <a href="#">{{ post.author }}, </a>
                                    {{ post.publish_date|timesince }} ago.
                                {% else %}
                                    <span style='color:red;'> No Authors! </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-3 ml-sm-auto geba-large"></div>
                </div>
            {% endfor %}

            <!-- project comments -->

            <div class="row justify-content-center">
                 <div class="geba_body-col geba_vote-offset">
                     {% include "project/project_detail_comments.html" %}
                 </div>

                <div class="col-3 ml-sm-auto geba-large"></div>
            </div>
        </div>
    </article>

    <!-- delete project modal -->
    <div class="modal fade" id="DeleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="DeleteProjectModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="DeleteProjectModalLabel">Delete Project</h4>
              </div>
              <div class="modal-body">
                  <p>Are you sure you want to delete the following project: "{{ object }}"?</p>
              </div>
              <div class="modal-footer">
                <form method="POST" action="{% url 'project:delete' project.slug %}">
                    {% csrf_token %}
                    <button type="button submit" class="btn btn-primary" value="Delete" >Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
              </div>
            </div>
        </div>
    </div>

    {% include "comments/delete_comment_modal.html" %}
    {% include "vote/login_vote_modal.html" %}

{% endblock content %}

{% block javascript %}
    <script src="{% static 'apps/core/js/csrf_cookie.js' %}"></script>
    <script src="{% static 'apps/core/js/badge.js' %}"></script>
    <script src="{% static 'apps/comments/js/comment.js' %}"></script>
    <script src="{% static 'apps/project/js/project.js' %}"></script>
    <script src="{% static 'apps/core/js/sidebar.js' %}"></script>
    <script src="{% static 'apps/vote/js/vote.js' %}"></script>
{% endblock javascript %}
