{% extends "core/base.html" %}

{% block title %}GEBA - Project{% endblock %}

{% load vote %}

{% block header %}
    {% load staticfiles %}
    <link rel='stylesheet' href="{% static 'apps/vote/css/vote.css' %}"/>
{% endblock header %}

{% block content %}

    <header class="masthead" style="background-image: url('')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Projects</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid">

        <div class="row">
            <div class="col-8 offset-1">
                {% if messages %}
                    {% include "project/messages.html" %}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-10 offset-1">
                {% if user.is_staff or user.is_superuser %}
                    <a class="btn btn-primary" href="{% url 'project:create' %}" role="button">New Project</a>
                {% endif %}
            </div>
        </div>

        <!--{% include 'project/project_search.html' %}-->

        {% if object_list|length == 0 %}
            <div class="row justify-content-center mt-3">
                <div class="col-10 mb-3">
                    <h5>There are currently no active projects, thanks for your interest! Below is a video of
                    me working hard on these projects.</h5>
                </div>

                <img src="https://media.giphy.com/media/pFwRzOLfuGHok/giphy.gif" width="480" height="300">

            </div>
        {% else %}

            <div class="row justify-content-center mt-3">
                <div class="col-12">
                    {% load markdown_deux_tags %}

                    {% for project in object_list %} <!-- object_list is returned from the ListView of objects.all()-->
                        <div class="row">
                            <div class="col-1">
                                {% with project.unvoted_net_likes as "unvoted_likes" %}
                                    {% if project.is_voted_up %}
                                        <div class="link center" current_class="likes">
                                            <div class="midcol likes">
                                                {% if user.is_authenticated %}
                                                    <div class="arrow up upvote-btn login-required access-required upmod"
                                                     data-event-action="upvote" title="upvote"
                                                     role="button" aria-label="upvote" data-object="{{ project }}"
                                                     data-href="{% url 'project:project_like_toggle_api' project.slug %}"></div>
                                                {% else %}
                                                    {% include "vote/unauthenticated_upvote.html" %}
                                                {% endif %}

                                                <div class="score dislikes" title="{{ unvoted_likes|add:'-1' }}">{{ unvoted_likes|add:"-1" }}</div>
                                                <div class="score unvoted" title="{{ unvoted_likes|add:'0' }}">{{ unvoted_likes|add:'0' }}</div>
                                                <div class="score likes" title="{{ unvoted_likes|add:'1' }}">{{ unvoted_likes|add:"1" }}</div>

                                                {% if user.is_authenticated %}
                                                    <div class="arrow down downvote-btn login-required access-required"
                                                         data-event-action="downvote" role="button"
                                                         aria-label="downvote" title="downvote"
                                                         data-href="{% url 'project:project_dislike_toggle_api' project.slug %}"></div>
                                                {% else %}
                                                    {% include "vote/unauthenticated_downvote.html" %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% elif project.is_voted_down %}
                                        <div class="link center" current_class="dislikes">
                                            <div class="midcol dislikes">

                                                {% if user.is_authenticated %}
                                                    <div class="arrow up upvote-btn login-required access-required"
                                                     data-event-action="upvote" title="upvote"
                                                     role="button" aria-label="upvote" data-object="{{ project }}"
                                                     data-href="{% url 'project:project_like_toggle_api' project.slug %}"></div>
                                                {% else %}
                                                    {% include "vote/unauthenticated_upvote.html" %}
                                                {% endif %}

                                                <div class="score dislikes" title="{{ unvoted_likes|add:'-1' }}">{{ unvoted_likes|add:"-1" }}</div>
                                                <div class="score unvoted" title="{{ unvoted_likes|add:'0' }}">{{ unvoted_likes|add:'0' }}</div>
                                                <div class="score likes" title="{{ unvoted_likes|add:'1' }}">{{ unvoted_likes|add:"1" }}</div>

                                                {% if user.is_authenticated %}
                                                    <div class="arrow down downvote-btn login-required access-required downmod"
                                                         data-event-action="downvote" role="button"
                                                         aria-label="downvote" title="downvote"
                                                         data-href="{% url 'project:project_dislike_toggle_api' project.slug %}"></div>
                                                {% else %}
                                                    {% include "vote/unauthenticated_downvote.html" %}
                                                {% endif %}

                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="link center" current_class="unvoted">
                                            <div class="midcol unvoted">

                                                {% if user.is_authenticated %}
                                                    <div class="arrow up upvote-btn login-required access-required"
                                                     data-event-action="upvote" title="upvote"
                                                     role="button" aria-label="upvote" data-object="{{ project }}"
                                                     data-href="{% url 'project:project_like_toggle_api' project.slug %}"></div>
                                                {% else %}
                                                    {% include "vote/unauthenticated_upvote.html" %}
                                                {% endif %}

                                                <div class="score dislikes" title="{{ unvoted_likes|add:'-1' }}">{{ unvoted_likes|add:"-1" }}</div>
                                                <div class="score unvoted" title="{{ unvoted_likes|add:'0' }}">{{ unvoted_likes|add:'0' }}</div>
                                                <div class="score likes" title="{{ unvoted_likes|add:'1' }}">{{ unvoted_likes|add:"1" }}</div>

                                                {% if user.is_authenticated %}
                                                    <div class="arrow down downvote-btn login-required access-required"
                                                         data-event-action="downvote" role="button"
                                                         aria-label="downvote" title="downvote"
                                                         data-href="{% url 'project:project_dislike_toggle_api' project.slug %}"></div>
                                                {% else %}
                                                    {% include "vote/unauthenticated_downvote.html" %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>

                            <div class="col-10">

                                <div class="card mb-4">
                                     {% if project.image %}
                                        <img class="card-img-top" src="{{ project.image.url }}" alt="">
                                     {% else %}
                                        <img class="card-img-top" src="http://placehold.it/700x300" alt="">
                                     {% endif %}

                                    <div class="card-body">

                                        <h2 class="card-title">

                                            <div class="row">
                                                {% if request.user == project.author or request.user.is_superuser %}
                                                    <div class="col-11">
                                                {% else %}
                                                    <div class="col-12">
                                                {% endif %}

                                                {{ project.title }}

                                                {% if project.pages.count == 0 %}
                                                    <span class="badge-geba">No Pages</span>
                                                    <!--<span style='color:red;'>| No Pages </span>-->
                                                {% endif %}

                                                {% if project.draft %}
                                                  <span class="badge-geba" id="draft-{{ project.slug }}">Draft</span>
                                                {% else %}
                                                  <span class="badge-geba hidebadge" id="draft-{{ project.slug }}">Draft</span>
                                                {% endif %}

                                                {% if project.is_future_publication %}
                                                    <span class="badge-geba">Future Project</span>
                                                    <!--<span style='color:red;'>| Future Project </span>-->
                                                {% endif %}
                                                </div>

                                                {% if request.user == project.author or request.user.is_superuser %}
                                                    <div class="col-1">
                                                        <div class="btn-group">
                                                            <a href="#" class="nav-link dropdown-toggle pt-0 dropdown-toggle-top"
                                                               data-toggle="dropdown" role="button" aria-haspopup="true"
                                                               aria-expanded="false" id="DropDown{{ project.id }}">
                                                              <span class="caret"></span>
                                                            </a>

                                                          <div class="dropdown-menu" aria-labelledby="DropDown{{ project.id }}">
                                                            <a class="dropdown-item"
                                                               href="{% url 'project:create_post' project.slug project.get_next_post_order %}"
                                                               role="button">New Post</a>
                                                            <a class="dropdown-item" href="{% url 'project:update' project.slug %}">Edit Project</a>
                                                            {% if project.draft %}
                                                                <a class="dropdown-item publish-btn"
                                                                   data-href="{% url 'project:publish_project_ajax' project.slug %}"
                                                                   data-slug="{{ project.slug }}"
                                                                   id="publish_{{ project.slug }}">Publish</a>
                                                                <a class="dropdown-item draft-btn hidebtn"
                                                                   data-href="{% url 'project:draft_project_ajax' project.slug %}"
                                                                   data-slug="{{ project.slug }}"
                                                                   id="draft_{{ project.slug }}">Set as Draft</a>
                                                            {% else %}
                                                                <a class="dropdown-item draft-btn"
                                                                   data-href="{% url 'project:draft_project_ajax' project.slug %}"
                                                                   data-slug="{{ project.slug }}"
                                                                   id="draft_{{ project.slug }}">Set as Draft</a>
                                                                <a class="dropdown-item publish-btn hidebtn"
                                                                   data-href="{% url 'project:publish_project_ajax' project.slug %}"
                                                                   data-slug="{{ project.slug }}"
                                                                   id="publish_{{ project.slug }}">Publish</a>
                                                            {% endif %}
                                                            <a class="dropdown-item" data-toggle="modal" data-target="#DeleteProjectModalIndex"
                                                               data-content="{{ project.title }}"
                                                               data-url="{{ project.get_delete_url }}" data-csrf='{% csrf_token %}'>
                                                                Delete Project</a>
                                                          </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </h2>

                                        <p class="card-text">

                                            {% if project.description %}
                                                {{ project.description }}
                                            {% else %}
                                                {% if project.get_html %}
                                                    {{ project.get_html|truncatechars_html:250 }}
                                                {% else %}
                                                    <span style='color:red;'> No Description! </span>
                                                {% endif %}
                                            {% endif %}

                                        </p>
                                        {% if project.keywords %}
                                            <p class="card-text">Keywords: {{ post.keywords }}</p>
                                        {% endif %}
                                        <a class="btn btn-primary" href="{{ project.get_absolute_url }}">Read More →</a>
                                    </div>

                                    <div class="card-footer text-muted">
                                        Published by
                                        {% if project.authors.count > 0 %}
                                            {% for author in project.authors.all %}

                                                {% if forloop.last %}
                                                    {% if forloop.first %}
                                                        <a href="#">{{ author }}</a>
                                                    {% else %}
                                                        <span>and <a href="#">{{ author }}</a></span>
                                                    {% endif %}
                                                {% else %}
                                                    <a href="#">{{ author }}, </a>
                                                {% endif %}

                                            {% endfor %}, {{ project.publish_date|timesince }} ago.
                                        {% else %}
                                            <span style='color:red;'> No Authors! </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

        {% endif %}
    </div>

    {% include "project/delete_project_modal.html" %}
    {% include "vote/login_vote_modal.html" %}

{% endblock %}

{% block javascript %}
    <script src="{% static 'apps/project/js/project.js' %}"></script>
    <script src="{% static 'apps/core/js/badge.js' %}"></script>
    <script src="{% static 'apps/vote/js/vote.js' %}"></script>
{% endblock javascript %}