{% extends "core/base.html" %} <!-- extends path starting from templates directory, concatenates all contents of templates -->

{% block title %}GEBA - Project{% endblock title %}

{% block header %}

    {% load staticfiles %}
    {% load crispy_forms_tags %}
    {% load comment %}
    <link rel='stylesheet' href="{% static 'apps/core/css/sidebar.css' %}"/>
    <link rel='stylesheet' href="{% static 'apps/project/css/project.css' %}"/>
    <link rel='stylesheet' href="{% static 'apps/vote/css/vote.css' %}"/>
    <link rel='stylesheet' href="{% static 'apps/comments/css/comments.css' %}"/>
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'apps/core/css/wysiwyg_override.css' %}"/>
{% endblock header %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead"
        {% if projectpost.header_image %}
            style="background-image: url({{ projectpost.header_image.url }})">
        {% else %}
            style="background-image: url('')">
        {% endif %}

      <div class="container-fluid">
        <div class="row">
          <div class="col-8 mx-auto">
            <div class="post-heading">
              <h1>
                {{ projectpost.title }}

                {% if projectpost.draft %}
                  <span class="badge-geba" id="draft-{{ projectpost.slug }}">Draft</span>
                {% else %}
                  <span class="badge-geba hidebadge" id="draft-{{ projectpost.slug }}">Draft</span>
                {% endif %}

                {% if projectpost.is_future_publication %}
                    <span class="badge-geba"  id="future-{{ projectpost.id }}">Future Post</span>
                {% endif %}
              </h1>
              <span class="meta">Posted by <a href="#">{{ projectpost.author }},</a>
                {% if projectpost.publish_date == projectpost.modified %}
                Published: {{ projectpost.publish_date|timesince }} ago
                {% else %}
                Published: {{ projectpost.publish_date|timesince }} ago
                (Updated: {{ projectpost.modified|timesince }} ago)
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <article>
        <div class="container-fluid" id="page-content-wrapper">

            <div class="row">
                <div class="geba_body-col geba_vote-offset">
                    {% if messages %}
                        {% include "project/messages.html" %}
                    {% endif %}
                    {% load markdown_deux_tags %}
                </div>
            </div>

            <div class="row geba-large">
                <div class="geba_body-col geba_vote-offset">

                    {% if user.is_staff or user.is_superuser %}
                        <a class="btn btn-primary"
                           href="{% url 'project:create_post' projectpost.get_project_slug projectpost.get_next_post_order %}"
                           role="button">New Post</a>
                        <a class="btn btn-primary" href="{% url 'project:update_post' projectpost.slug %}" role="button">Edit Post</a>

                        {% if projectpost.draft %}
                            <a class="btn btn-primary publish-btn" data-href="{% url 'project:publish_post_ajax' projectpost.slug %}"
                               data-slug="{{ projectpost.slug }}" id="publish_{{ projectpost.slug }}" href="#" role="button">Publish</a>
                            <a class="btn btn-primary draft-btn hidebtn" data-href="{% url 'project:draft_post_ajax' projectpost.slug %}"
                               data-slug="{{ projectpost.slug }}" id="draft_{{ projectpost.slug }}" href="#" role="button">Set as Draft</a>
                        {% else %}
                            <a class="btn btn-primary draft-btn" data-href="{% url 'project:draft_post_ajax' projectpost.slug %}"
                               data-slug="{{ projectpost.slug }}" id="draft_{{ projectpost.slug }}" href="#" role="button">Set as Draft</a>
                            <a class="btn btn-primary publish-btn hidebtn" data-href="{% url 'project:publish_post_ajax' projectpost.slug %}"
                               data-slug="{{ projectpost.slug }}" id="publish_{{ projectpost.slug }}" href="#" role="button">Publish</a>
                        {% endif %}

                        <a class="btn btn-primary" data-toggle="modal" data-target="#DeleteProjectPostModal"
                           href=""
                           data-content="{{ projectpost.title }}"
                           data-url="{{ projectpost.get_delete_url }}">Delete Post</a>
                    {% endif %}

                </div>
            </div>

            <div class="row justify-content-center">
                <div class="geba_body-col geba_vote-offset">
                    <a href="#" class="btn geba-menu-btn geba-mobile geba-toggle" id="menu-toggle">
                        <i class="fa fa-caret-left geba-caret-right-padding"></i>
                        <i class="fa fa-bars"></i>
                        <i class="fa fa-caret-right geba-caret-left-padding"></i>
                    </a>
                </div>
            </div>

            <div class="row justify-content-center mt-3">

                <div id="sidebar-wrapper">
                    <ul class="list-group sidebar-nav">
                        {% if user.is_staff or user.is_superuser %}
                            <a class="list-group-item list-group-item-project"
                               href="{% url 'project:create_post' projectpost.get_project_slug projectpost.get_next_post_order %}"
                               role="button">New Post</a>
                            <a class="list-group-item list-group-item-project" href="{% url 'project:update_post' projectpost.slug %}" role="button">Edit Post</a>

                            {% if projectpost.draft %}
                                <a class="list-group-item list-group-item-project publish-btn" data-href="{% url 'project:publish_post_ajax' projectpost.slug %}"
                                   data-slug="{{ projectpost.slug }}" id="publish_{{ projectpost.slug }}" href="#" role="button">Publish</a>
                                <a class="list-group-item list-group-item-project draft-btn hidebtn" data-href="{% url 'project:draft_post_ajax' projectpost.slug %}"
                                   data-slug="{{ projectpost.slug }}" id="draft_{{ projectpost.slug }}" href="#" role="button">Set as Draft</a>
                            {% else %}
                                <a class="list-group-item list-group-item-project draft-btn" data-href="{% url 'project:draft_post_ajax' projectpost.slug %}"
                                   data-slug="{{ projectpost.slug }}" id="draft_{{ projectpost.slug }}" href="#" role="button">Set as Draft</a>
                                <a class="list-group-item list-group-item-project publish-btn hidebtn" data-href="{% url 'project:publish_post_ajax' projectpost.slug %}"
                                   data-slug="{{ projectpost.slug }}" id="publish_{{ projectpost.slug }}" href="#" role="button">Publish</a>
                            {% endif %}

                            <a class="list-group-item list-group-item-project" data-toggle="modal" data-target="#DeleteProjectPostModal2"
                               data-content="{{ projectpost.title }}"
                               data-url="{{ projectpost.get_delete_url }}">Delete Post</a>
                        {% endif %}

                        {% for post in projectpost.get_project_posts %}
                            <a href="{% url 'project:detail' post.slug %}" class="list-group-item">{{ post.title }}</a>
                        {% endfor %}
                    </ul>
                </div>

                <!-- This div will contain the voting -->
                <div class="geba_vote-col">
                    {% include "project/projectpost_vote.html" %}
                </div>

                <!-- this div will contain the contents of the post, including comments -->
                <div class="geba_body-col">
                    <div class="post-body">{{ projectpost.get_html|safe }}</div>
                    <hr>
                    {% include "project/post_detail_comments.html" %}
                </div>

                <div class="col-3 ml-sm-auto">
                    <div class="list-group">
                        {% with projectpost.get_project as project %}
                            <a href="{% url 'project:detail' project.slug %}" class="list-group-item">{{ project.title }}</a>
                        {% endwith %}

                        {% for post in projectpost.get_project_posts %}
                            {% if projectpost.slug == post.slug %}
                                <a href="#" class="list-group-item active">{{ post.title }}</a>
                            {% else %}
                                <a href="{% url 'project:detail' post.slug %}" class="list-group-item">{{ post.title }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </article>

    {% include "project/delete_projectpost_modal.html" %}
    {% include "comments/delete_comment_modal.html" %}
    {% include "vote/login_vote_modal.html" %}

{% endblock content %}

{% block javascript %}
    <script src="{% static 'tinymce/js/prism.js' %}"></script>
    <script src="{% static 'apps/core/js/csrf_cookie.js' %}"></script>
    <script src="{% static 'apps/core/js/badge.js' %}"></script>
    <script src="{% static 'apps/comments/js/comment.js' %}"></script>
    <script src="{% static 'apps/project/js/project.js' %}"></script>
    <script src="{% static 'apps/core/js/sidebar.js' %}"></script>
    <script src="{% static 'apps/vote/js/vote.js' %}"></script>
{% endblock javascript %}

