{% extends "core/base.html" %} <!-- extends path starting from templates directory, concatenates all contents of templates -->

{% block title %}GEBA - Project{% endblock title %}

{% block header %}

    {% load staticfiles %}
    {% load crispy_forms_tags %}
    {% load comment %}
    <link rel='stylesheet' href="{% static 'apps/project/css/project.css' %}"/>
    <link rel='stylesheet' href="{% static 'apps/vote/css/vote.css' %}"/>

{% endblock header %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead"
        {% if projectpost.image %}
            style="background-image: url({{ projectpost.image.url }})">
        {% else %}
            style="background-image: url('http://placehold.it/700x300')">
        {% endif %}

      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto">
            <div class="post-heading">
              <h1>
                {{ projectpost.title }}

                {% if projectpost.draft %}
                  <span class="badge-geba" id="draft-{{ projectpost.slug }}">Draft</span>
                {% else %}
                  <span class="badge-geba hidebadge" id="draft-{{ projectpost.slug }}">Draft</span>
                {% endif %}

                {% if projectpost.is_future_publication %}
                    <span class="badge-geba"  id="future-{{ projectpost.id }}">Future Post</span>
                    <!--<span style='color:red;'>| Future Post </span>-->
                {% endif %}
              </h1>
              <!--<span class="subheading">Have questions? I have answers (maybe).</span>-->
              <span class="meta">Posted by <a href="#">{{ projectpost.author }},</a>
                {% if projectpost.publish_date == projectpost.modified %}
                Published: {{ projectpost.publish_date|timesince }} ago
                {% else %}
                Published: {{ projectpost.publish_date|timesince }} ago
                (Updated: {{ projectpost.modified|timesince }} ago)
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <article>
        <div class="container">

            <div class="row">
                <div class="col-8 offset-1">
                    {% if messages %}
                        {% include "project/messages.html" %}
                    {% endif %}
                    {% load markdown_deux_tags %}
                </div>
            </div>

            <div class="row">
                <div class="col-8 offset-1">

                    {% if user.is_staff or user.is_superuser %}
                        <a class="btn btn-primary"
                           href="{% url 'project:create_post' projectpost.get_project_slug projectpost.get_next_post_order %}"
                           role="button">New Post</a>
                        <a class="btn btn-primary" href="{% url 'project:update_post' projectpost.slug %}" role="button">Edit Post</a>

                        {% if projectpost.draft %}
                            <a class="btn btn-primary publish-btn" data-href="{% url 'project:publish_post_ajax' projectpost.slug %}"
                               data-slug="{{ projectpost.slug }}" id="publish_{{ projectpost.slug }}" href="#" role="button">Publish</a>
                            <a class="btn btn-primary draft-btn hidebtn" data-href="{% url 'project:draft_post_ajax' projectpost.slug %}"
                               data-slug="{{ projectpost.slug }}" id="draft_{{ projectpost.slug }}" href="#" role="button">Set as Draft</a>
                        {% else %}
                            <a class="btn btn-primary draft-btn" data-href="{% url 'project:draft_post_ajax' projectpost.slug %}"
                               data-slug="{{ projectpost.slug }}" id="draft_{{ projectpost.slug }}" href="#" role="button">Set as Draft</a>
                            <a class="btn btn-primary publish-btn hidebtn" data-href="{% url 'project:publish_post_ajax' projectpost.slug %}"
                               data-slug="{{ projectpost.slug }}" id="publish_{{ projectpost.slug }}" href="#" role="button">Publish</a>
                        {% endif %}

                        <a class="btn btn-primary" href='#' data-toggle="modal" data-target="#DeleteProjectPostModal">Delete Post</a>
                    {% endif %}

                </div>
            </div>

            <div class="row mt-3">
                <!-- This div will contain the voting -->
                <div class="col-1">
                    {% include "project/projectpost_vote.html" %}
                </div>

                <!-- this div will contain the contents of the post, including comments -->
                <div class="col-8 content-markdown">
                    <div class="post-body">{{ projectpost.get_html|safe }}</div>

                    <div class="row">
                        <div class="col">
                            <a class="btn btn-primary" href="#Top">Top of Page</a>
                        </div>
                    </div>

                    <hr>
                    <!--<br>-->

                    <p class='lead'>Comments</p>

                    <form method="POST" action="{% url 'project:detail' projectpost.slug %}">
                        {% csrf_token %}
                        {{ comment_form|crispy }}
                        <input type="submit" value="Post Comment" class="btn btn-primary">
                    </form>

                    {% for comment in comments %}
                        <hr>
                        <div class="row">
                            <div class="col-1">
                                {% include "comments/comment_vote.html" %}
                            </div>
                            <div class="col-8">
                                <blockquote>
                                    <p>{{ comment.content }}</p>

                                    {% children_annotate comment user.id as child_comments %}

                                    {% include 'comments/comment_footer.html' %}

                                    <div class="comment-reply">
                                        <!-- toggle-able comment form -->

                                        {% for child_comment in child_comments %}
                                            <hr>
                                            <div class="row">
                                                <div class="col-1">
                                                    {% include "comments/child_comment_vote.html" %}
                                                </div>
                                                <div class="col-8">
                                                    {% include 'comments/child_comment.html' %}
                                                </div>
                                            </div>
                                        {% endfor %}

                                        <form method="POST" action="{% url 'project:detail' projectpost.slug %}">
                                            {% csrf_token %}
                                            {{ comment_form|crispy }}
                                            <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                            <input type="submit" value="Reply" class="btn btn-default">
                                        </form>

                                        <!-- toggle-able help text -->
                                        <a class="markdown-help-btn" href="#">Formatting Help</a>

                                        <div class="markdown-help">
                                            {% markdown_cheatsheet %}
                                        </div>
                                    </div>

                                </blockquote>
                            </div>
                        </div>


                    {% endfor %}

                </div>

                <div class="col-3 ml-sm-auto">
                    <div class="list-group">
                        {% for post in projectpost.get_project_posts %}
                            {% if projectpost.slug == post.slug %}
                            <a href="#" class="list-group-item active">{{ post.title }}</a>
                            {% else %}
                            <a href="{% url 'project:detail' post.slug %}" class="list-group-item">{{ post.title }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>
    </article>


    <div class="modal fade" id="DeleteProjectPostModal" tabindex="-1" role="dialog" aria-labelledby="DeleteProjectPostModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="DeleteProjectPostModalLabel">Delete Post</h4>
              </div>
              <div class="modal-body">
                  <p>Are you sure you want to delete the following post: "{{ object }}"?</p>
              </div>
              <div class="modal-footer">
                <form method="POST" action="{% url 'project:delete_post' projectpost.slug %}">
                    {% csrf_token %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Delete" class="btn btn-default"/>
                </form>
              </div>
            </div>
        </div>
    </div><!---->

    {% include "comments/delete_comment_modal.html" %}
    {% include "vote/login_vote_modal.html" %}

{% endblock content %}

{% block javascript %}
    <!--<script src="{% static 'apps/core/js/csrf_cookie.js' %}"></script>-->
    <script src="{% static 'apps/core/js/badge.js' %}"></script>
    <script src="{% static 'apps/comments/js/comment.js' %}"></script>
    <script src="{% static 'apps/vote/js/vote.js' %}"></script>
{% endblock javascript %}

