{% extends "core/base.html" %} <!-- extends path starting from templates directory, concatenates all contents of templates -->

{% load crispy_forms_tags %}
{% load staticfiles %}

{% block css %}
<link rel='stylesheet' href="{% static 'apps/core/css/form_style.css' %}"/>
{% endblock css %}

{% block title %}GEBA - Create Project Post{% endblock title %}

{{ wizard.form.media }}

{% block content %}

    <header class="masthead">
      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto">
            <div class="site-heading">
              <h1>Create Project Post!</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class = "col-7">
                <div class="panel panel-default">
                    <div class="panel-body">

                        {% if messages %}
                            {% include "project/messages.html" %}
                        {% endif %}

                        <form class="form-horizontal" id='PostForm' action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {{ wizard.form.media }}
                            {{ wizard.management_form }}

                            {{ wizard.form|crispy }}

                            <div class="form-group">
                                <div class="col-offset-2 col_sm-10">
                                    {% if wizard.steps.prev %}
                                        <button name="wizard_goto_step" class="btn btn-primary" type="submit" value="{{ wizard.steps.prev }}">Back</button>
                                    {% endif %}
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <!--<script src="{% static 'apps/core/js/ajax_form_errors.js' %}"></script>
    <script src="{% static 'apps/project/js/project_form.js' %}"></script>
    <script src="{% static 'apps/project/js/project.js' %}"></script>
    <script src="{% static 'apps/core/js/csrf_cookie.js' %}"></script>-->
{% endblock javascript %}
