{% extends "core/base.html" %} <!-- extends path starting from templates directory, concatenates all contents of templates -->

{% block header %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% endblock header %}


{% block css %}
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'apps/core/css/wysiwyg_override.css' %}"/>
{% endblock css %}

{% block title %}GEBA - Create Project Post{% endblock title %}

{% block content %}

    <header class="masthead">
      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto">
            <div class="site-heading">
              <h1>Create Post</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    {{ form.media }}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class = "col-7">
                {% if messages %}
                    {% include "project/messages.html" %}
                {% endif %}

                <div class="panel panel-default">
                    <div class="panel-body">

                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {{ form|crispy }}

                            <div class="form-group">
                                <div class="col-offset-2 col_sm-10">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'tinymce/js/prism.js' %}"></script>
{% endblock javascript %}