{% extends "core/base.html" %} <!-- extends path starting from templates directory, concatenates all contents of templates -->

{% load staticfiles %}

{% block css %}
<link rel='stylesheet' href="{% static 'apps/core/css/form_style.css' %}"/>
<!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen"
 href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">-->
{{ form.media }} <!-- used for the pagedown widget !-->

{% endblock css %}

{% block content %}

    {% if messages %}
        {% include "project/messages.html" %}
    {% endif %}

    {% load crispy_forms_tags %}

    <div class="row justify-content-md-center">
        <div class = "col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-horizontal" action="{% url 'project:create_project_ajax' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ project_form.as_p }}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col_sm-10">
                                <button type="submit" class="btn btn-success">Save Project</button>
                                <button type="submit" class="btn btn-success">Save & Create Post</button>
                            </div>
                        </div>

                    </form>

                    <form class="form-horizontal hideelement" action="{% url 'project:create_project_ajax' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ post_form.as_p }}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col_sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

