{% extends "core/base.html" %} <!-- extends path starting from templates directory, concatenates all contents of templates -->

{% load staticfiles %}

{% block css %}

<link rel='stylesheet' href="{% static 'apps/core/css/form_style.css' %}"/>
<link rel='stylesheet' href="{% static 'apps/datetimepicker/build/css/bootstrap-datetimepicker.css' %}"/>
<!--<link rel='stylesheet' href="{% static 'admin/css/widgets.css' %}"/>
<link rel='stylesheet' href="{% static 'admin/css/forms.css' %}"/>
<link rel='stylesheet' href="{% static 'admin/css/base.css' %}"/>-->
{{ form.media }} <!-- used for the html preview widget !-->

{% endblock css %}

{% block content %}

    <header class="masthead">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Update Post</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% if messages %}
        {% include "project/messages.html" %}
    {% endif %}

    {% load crispy_forms_tags %}
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class = "col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-group">
                                <div>
                                    <span class="text-danger small">{{ form.title.errors }}</span>
                                </div>
                                <label for="{{ form.title.id_for_label }}">{{ form.title.label_tag }}</label>
                                <input type="text" name="post-title" placeholder="Title..." class="form-control"
                                       id="{{ form.title.id_for_label }}">
                            </div>

                            <div class="wmd-wrapper">
                                <div>
                                    <span class="text-danger small">{{ form.body.errors }}</span>
                                </div>
                                <label>{{ form.body.label_tag }}</label>
                                {{ form.body }}
                            </div>

                            <form>
                              <div class="form-group">
                                <label for="{{ form.image.id_for_label }}">{{ form.image.label_tag }}</label>
                                <input type="file" class="form-control-file" name="id_post-image" id="{{ form.image.id_for_label }}">
                              </div>
                            </form>

                            <div class="form-group">
                                <label for="{{ form.image_caption.id_for_label }}">{{ form.image_caption.label_tag }}</label>
                                <textarea class="form-control" id="{{ form.image_caption.id_for_label }}"
                                          name="post-image_caption" placeholder="Image Caption..." rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.draft.id_for_label }}">{{ form.draft.label_tag }}</label>
                                <input id="{{ form.draft.id_for_label }}" name="post-draft" type="checkbox">
                            </div>

                            <div class="form-group">
                                <label for="datetimepicker1">{{ form.publish_date.label_tag }}</label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <!--{{ form.as_p }}-->

                            <div class="form-group">
                                <div class="col-sm-offset-2 col_sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascript %}

    <!--<script type="text/javascript" src="{% static 'apps/datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>-->

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>

{% endblock javascript %}
