{% extends "core/base.html" %} <!-- extends path starting from templates directory, concatenates all contents of templates -->

{% load staticfiles %}

{% block css %}
<link rel='stylesheet' href="{% static 'apps/core/css/form_style.css' %}"/>
<!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen"
 href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">-->
{{ form.media }} <!-- used for the pagedown widget !-->

{% endblock css %}

{% block content %}

    {% if messages %}
        {% include "project/messages.html" %}
    {% endif %}

    {% load crispy_forms_tags %}

    <div class="row justify-content-md-center">
        <div class = "col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-horizontal" id='ProjectForm' action="#" data-url="{% url 'project:create_project_ajax' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group">
                            <div id="error_{{ project_form.title.id_for_label }}">
                                <span class="text-danger small">{{ project_form.title.errors }}</span>
                            </div>
                            {{ project_form.title.label_tag }}
                            {% if project_form.title.field.required %}(*){% endif %}
                            <input type="text" name="title" placeholder="Title..." class="form-control"
                                   id="{{ project_form.title.id_for_label }}">
                        </div>

                        <div class="form-group">
                            {{ project_form.image.label_tag }}
                            <input type="file" class="form-control-file" name="image" id="{{ project_form.image.id_for_label }}">
                        </div>

                        <div class="form-group">
                            {{ project_form.image_caption.label_tag }}
                            <textarea class="form-control" id="{{ project_form.image_caption.id_for_label }}"
                                      name="image_caption" placeholder="Image Caption..." rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            {{ project_form.draft.label_tag }}
                            <input id="{{ project_form.draft.id_for_label }}" name="draft" type="checkbox">
                        </div>

                        <div class="form-group">
                            {{ project_form.publish_date.label_tag }}
                            {{ project_form.publish_date }}
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col_sm-10">
                                <button type="submit" class="btn btn-success" id="SaveProject"
                                        data-href="{% url 'project:create_project' %}">Save Project</button>
                                <button type="submit" class="btn btn-success" id="SaveCreate">Save & Create Post</button>
                            </div>
                        </div>

                    </form>


                    <form class="form-horizontal hideelement" id='PostForm' action="{% url 'project:create_project_post' %}" data-url="#" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ post_form.as_ul }}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col_sm-10">
                                <button type="submit" class="btn btn-success" id="BackProject">Back</button>
                                <button type="submit" class="btn btn-success" id="CreateProst">Create post</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'apps/core/js/ajax_form_errors.js' %}"></script>
    <script src="{% static 'apps/project/js/project_form.js' %}"></script>
    <script src="{% static 'apps/project/js/project.js' %}"></script>
    <script src="{% static 'apps/core/js/csrf_cookie.js' %}"></script>
{% endblock javascript %}
