{% extends "core/base.html" %} <!-- extends path starting from templates directory, concatenates all contents of templates -->

{% load staticfiles %}

{% block css %}
<link rel='stylesheet' href="{% static 'apps/core/css/form_style.css' %}"/>
{% endblock css %}

{% block title %}GEBA - Create Project{% endblock title %}

{% block content %}

    {% if messages %}
        {% include "project/messages.html" %}
    {% endif %}

    {% load crispy_forms_tags %}

    <div class="row justify-content-md-center">
        <div class = "col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-horizontal" id='ProjectForm' action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {{ wizard.form.media }}
                        {{ wizard.management_form }}

                        <!--<div class="form-group">
                            <div id="error_{{ wizard.form.title.id_for_label }}">
                                <span class="text-danger small">{{ wizard.form.title.errors }}</span>
                            </div>
                            {{ wizard.form.title.label_tag }}
                            {% if wizard.form.title.field.required %}(*){% endif %}
                            <input type="text" name="{{ wizard.form.title.name }}" placeholder="Title..." class="form-control"
                                   id="{{ wizard.form.title.id_for_label }}">
                        </div>

                        <div class="form-group">
                            {{ wizard.form.image.label_tag }}
                            <input type="file" class="form-control-file" name="image" id="{{ wizard.form.image.id_for_label }}">
                        </div>

                        <div class="form-group">
                            {{ wizard.form.image_caption.label_tag }}
                            <textarea class="form-control" id="{{ wizard.form.image_caption.id_for_label }}"
                                      name="image_caption" placeholder="Image Caption..." rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            {{ wizard.form.draft.label_tag }}
                            <input id="{{ wizard.form.draft.id_for_label }}" name="draft" type="checkbox">
                        </div>

                        <div class="form-group">
                            {{ wizard.form.publish_date.label_tag }}
                            {{ wizard.form.publish_date }}
                        </div>

                        {{ wizard.form.as_p }}-->

                        {{ wizard.form|crispy }}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col_sm-10">
                                <button type="submit" class="btn btn-success" id="SaveProject"
                                        data-href=".">Save Project</button>
                                <button type="submit" class="btn btn-success" id="SaveCreate">Save & Create Post</button>

                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <!--<script src="{% static 'apps/core/js/ajax_form_errors.js' %}"></script>
    <script src="{% static 'apps/project/js/project_form.js' %}"></script>
    <script src="{% static 'apps/project/js/project.js' %}"></script>
    <script src="{% static 'apps/core/js/csrf_cookie.js' %}"></script>-->
{% endblock javascript %}
