{% extends "core/base.html" %} <!-- extends path starting from templates directory, concatenates all contents of templates -->

{% load staticfiles %}

{% block css %}
<link rel='stylesheet' href="{% static 'apps/core/css/form_style.css' %}"/>
<!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen"
 href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">-->
{{ form.media }} <!-- used for the pagedown widget !-->
{{ wizard.form.media }}

{% endblock css %}

{% block content %}

    {% if messages %}
        {% include "project/messages.html" %}
    {% endif %}

    {% load crispy_forms_tags %}

    <div class="row justify-content-md-center">
        <div class = "col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-horizontal" id='ProjectForm' action="." data-url="{% url 'project:create_project_ajax' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <table>
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                                {{ form|crispy }}
                            {% endfor %}
                        {% else %}
                            {{ wizard.form|crispy }}
                        {% endif %}
                        </table>

                        {% if wizard.steps.prev %}
                        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Back</button>
                        {% endif %}
                        <input type="submit" value="Submit"/>

                    </form>



                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'apps/core/js/ajax_form_errors.js' %}"></script>
    <script src="{% static 'apps/project/js/project_form.js' %}"></script>
    <script src="{% static 'apps/project/js/project.js' %}"></script>
    <script src="{% static 'apps/core/js/csrf_cookie.js' %}"></script>
{% endblock javascript %}
