{% with object.unvoted_net_likes as unvoted_likes %}
    {% if not forloop.counter|divisibleby:2 and forloop.last %}
    <div class="geba-align-col" style="padding-top:15px;">
    {% else %}
    <div class="geba_body_index-col">
    {% endif%}
        <div class="geba-card mb-1">
             {% if object.image %}
                <img class="card-img-top" src="{{ object.image.url }}"  style="width:100%; height:auto;">
             {% else %}
                <img class="card-img-top no_img">
             {% endif %}

            <div class="geba-card-body-header">
                <h2 class="card-title">
                    <div class="row">
                        {% if request.user == object.author or request.user.is_superuser %}
                            <div class="col-10">
                        {% else %}
                            <div class="col-12">
                        {% endif %}

                        {{ object.title }}

                        {% if object.draft %}
                          <span class="badge-geba" id="draft-{{ object.slug }}">Draft</span>
                        {% else %}
                          <span class="badge-geba hidebadge" id="draft-{{ object.slug }}">Draft</span>
                        {% endif %}

                        {% if object.is_future_publication %}
                            <span class="badge-geba">Future Post</span>
                        {% endif %}
                        </div>

                        {% if request.user == object.author or request.user.is_superuser %}
                            <div class="geba-caret-col">
                                <div class="btn-group float-right">
                                    <a href="#" class="nav-link nav-link-geba dropdown-toggle pt-0 dropdown-toggle-top"
                                       data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="false" id="DropDown{{ object.id }}">
                                      <span class="caret"></span>
                                    </a>

                                  <div class="dropdown-menu" aria-labelledby="DropDown{{ object.id }}">
                                    <a class="dropdown-item" href="{% url 'project:update_post' object.slug %}">Edit Post</a>
                                    {% if object.draft %}
                                        <a class="dropdown-item publish-btn"
                                           data-href="{% url 'project:publish_post_ajax' object.slug %}"
                                           data-slug="{{ object.slug }}"
                                           id="publish_{{ object.slug }}">Publish</a>
                                        <a class="dropdown-item draft-btn hidebtn"
                                           data-href="{% url 'project:draft_post_ajax' object.slug %}"
                                           data-slug="{{ object.slug }}"
                                           id="draft_{{ object.slug }}">Set as Draft</a>
                                    {% else %}
                                        <a class="dropdown-item draft-btn"
                                           data-href="{% url 'project:draft_post_ajax' object.slug %}"
                                           data-slug="{{ project.slug }}"
                                           id="draft_{{ project.slug }}">Set as Draft</a>
                                        <a class="dropdown-item publish-btn hidebtn"
                                           data-href="{% url 'project:publish_post_ajax' object.slug %}"
                                           data-slug="{{ object.slug }}"
                                           id="publish_{{ object.slug }}">Publish</a>
                                    {% endif %}
                                    <a class="dropdown-item" data-toggle="modal" data-target="#DeleteProjectPostModal"
                                       data-content="{{ object.title }}"
                                       data-url="{{ object.get_delete_url }}">
                                        Delete Post</a>
                                  </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </h2>

                {% if object.description %}
                    <div class="geba-medium-large">{{ object.description }}</div>
                {% else %}
                    {% if object.get_html %}
                        <div class="geba-medium-large">{{ object.get_html|truncatechars_html:150 }}</div>
                    {% else %}
                        <p class="card-text geba-medium-large"><span style='color:red;'> No Description! </span></p>
                    {% endif %}
                {% endif %}
            </div>

            <div class="geba-card-body">
                {% if object.keywords.count > 0 %}
                    <div class="geba-medium-large">
                        <p>
                            {% for keyword in object.keywords.all %}
                                <a href="?tag={{ keyword.slug }}" class="badge badge-primary badge-tag">
                                    {% if keyword.image %}
                                        <img src="{{ keyword.image.url }}" style="width: 20px; height: 20px;">
                                    {{ keyword.keyword }}
                                    {% else %}
                                        <img src="" style="width: 0px; height: 20px;">
                                    {{ keyword.keyword }}
                                    <img src="" style="width: 0px; height: 20px;">
                                    {% endif %}
                                    </a>
                            {% endfor %}
                        </p>
                    </div>
                {% endif %}
                <div class="geba-medium-large">
                    <a class="btn btn-primary" href="{{ object.get_absolute_url }}">Read More →</a>
                </div>
            </div>

            <div class="card-footer text-muted">
                <div class="row geba-flex">
                    <div class="col-10">
                        Published by
                        {% if object.author %}
                            <a href="?author={{ author }}">{{ object.author }}, </a>
                            {{ object.publish_date|timesince }} ago.
                        {% else %}
                            <span style='color:red;'> No Authors! </span>
                        {% endif %}
                    </div>
                    <div class="geba-vote-mobile-col">
                        {% include "project/projectpost_vote_mobile_search.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endwith %}