{% extends "core/base.html" %}

{% block title %}GEBA - Project{% endblock %}

{% load vote %}

{% block header %}
    {% load staticfiles %}
    <link rel='stylesheet' href="{% static 'apps/vote/css/vote.css' %}"/>
    <link rel='stylesheet' href="{% static 'apps/project/css/project.css' %}"/>
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'apps/core/css/wysiwyg_override.css' %}"/>
{% endblock header %}

{% block content %}

    <header class="masthead" style="background-image: url('')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Projects</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="geba_body_index-col geba_vote-offset">
                {% if messages %}
                    {% include "project/messages.html" %}
                {% endif %}
            </div>
        </div>

        {% if object_list|length == 0 %}
            <div class="row justify-content-center">
                <div class="geba_body_index-col">
                    {% if user.is_staff or user.is_superuser %}
                        <a class="btn btn-primary" href="{% url 'project:create' %}" role="button">New Project</a>
                    {% endif %}
                </div>
            </div>

            <div class="row justify-content-center mt-3">
                <div class="geba_body_index-col mb-3">
                    <h5>There are currently no active projects, thanks for your interest! Below is a video of
                    me working hard on these projects.</h5>
                </div>
            </div>

            <div class="row justify-content-center">
                <img src="https://media.giphy.com/media/pFwRzOLfuGHok/giphy.gif" width="480" height="300">
            </div>
        {% else %}

            <div class="row justify-content-center">
                <div class="geba_body_index-col geba_vote-offset geba-medium">
                    {% if user.is_staff or user.is_superuser %}
                        <a class="btn btn-primary" href="{% url 'project:create' %}" role="button">New Project</a>
                    {% endif %}
                </div>
                <div class="geba_body_index-col geba-small">
                    {% if user.is_staff or user.is_superuser %}
                        <a class="btn btn-primary" href="{% url 'project:create' %}" role="button">New Project</a>
                    {% endif %}
                </div>
            </div>

            <div class="row justify-content-center mt-3">
                <div class="col-12">
                    {% load markdown_deux_tags %}
                    {% load class_name %}

                    {% for object in object_list %} <!-- object_list is returned from the ListView of objects.all()-->
                        {% with object|class_name as object_class %}
                            {% if object_class == 'Project' %}
                                {% include "project/project_search.html" %}
                            {% elif object_class == 'ProjectPost' %}
                                {% include "project/projectpost_search.html" %}
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    {% include "project/delete_project_modal.html" %}
    {% include "project/delete_projectpost_modal.html" %}
    {% include "vote/login_vote_modal.html" %}

{% endblock %}

{% block javascript %}
    <script src="{% static 'tinymce/js/prism.js' %}"></script>
    <script src="{% static 'apps/core/js/csrf_cookie.js' %}"></script>
    <script src="{% static 'apps/project/js/project.js' %}"></script>
    <script src="{% static 'apps/core/js/badge.js' %}"></script>
    <script src="{% static 'apps/vote/js/vote.js' %}"></script>
{% endblock javascript %}