body {
  font-size: 20px;
  color: #212529;
  font-family: 'Lora', 'Times New Roman', serif;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #212529;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:focus, a:hover {
  color: #02178e;
}

blockquote {
  font-style: italic;
  color: #868e96;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: #fff;
  background: #02178e;
  text-shadow: none;
}

::selection {
  color: white;
  background: #02178e;
  text-shadow: none;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

#mainNav {
  top: 0;
  z-index: 1500;
  width: 100%;
  height: 50px;
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
    position: absolute;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    padding: 0 0;
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: #777777;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #777777;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > .navbar-collapse > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: white;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: white;
  }

  #mainNav .navbar-nav > .navbar-collapse > li.nav-item > a {
    padding: 10px 20px;
    color: white;
  }

  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  #mainNav .navbar-nav > .navbar-collapse > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }

}

@media only screen and (min-width: 992px) {
  #mainNav {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #02178e;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #02178e;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

}

/*  The Masthead is the class of the header tag that contains the image */

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
  color: white;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

/* Post Preview contains the Title and Sub-title */
.post-preview > a {
  color: #333333;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #02178e;
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

/* Post-meta is the part of the post-preview that doesn't highlight (contains author and date) */
.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #777777;
}


.post-preview > .post-meta > a {
  text-decoration: none;
  color: #333333;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #02178e;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  font-family: 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
  color: #868e96;
  font-family: 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group .help-block {
  margin: 15px 0;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #02178e;
}

form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}

footer {
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 6px 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
*/

.btn-primary {
  color: white;
  background-color: #02178e;
  border-color: #02178e;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: white;
  background-color: #001c22 !important;
  border-color: #02178e !important;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

/* centering the brand image */
#mainNav div#navBrand {
  position: absolute;
  left: 50%;
  margin: 6px 0px 0px -32.5px;
}

#mainNav #navBrand .bottom-wrapper {
  position:absolute;
  height:22px;
  width:65px;
  z-index:-1;
  bottom:0;
  overflow:hidden
}

/* adds coloring to the transparent section below the brand image */

/*
#mainNav #navBrand .bottom-wrapper .bottom {
  background:#1d1d1d;
  background:rgba(0,0,0,.6);
  height:63px;
  width:63px;
  border-radius:50%;
  position:absolute;
  bottom:1px;
  left:1px;
  transition:background .5s
}
*/

@media(max-width:767px) {

  #mainNav div#navBrand {
    margin:6px 0 0 -25px;
    z-index:1;
    transition:all .5s;
    width:50px
  }

  #mainNav #navBrand img {
    width:100%
  }

  #mainNav #navBrand .bottom-wrapper {
    height:12px;
    width:50px
  }

  #mainNav #navBrand .bottom-wrapper .bottom {
    height:48px;
    width:48px
  }
}


/* ############### navbar-right ################### */

@media(min-width:768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }

}

#mainNav .navbar-nav li>a {
  padding-left:20px;
  padding-right:20px;
}


#mainNav .navbar-nav.brand-left {
  position: absolute;
  right: 50%;
  margin-right: 40px;
}

#mainNav .navbar-nav.brand-right {
  position: absolute;
  left: 50%;
  margin-left: 40px;
}

#mainNav .navbar-nav.navbar-right a:hover {
  color: #fff;
}

#mainNav .navbar-nav.navbar-right .btn {
  margin-top: 8px;
}

#mainNav .navbar-nav.navbar-right .btn i {
  margin-right: 10px;
}

#mainNav .navbar-nav.navbar-right .btn .avatar {
  border-radius: 50%;
  height: 30px;
  margin-right: 10px;
}

#mainNav .navbar-nav.navbar-user {
  height: 100%;
}

#mainNav .navbar-nav.navbar-user:hover #user-menu {
  max-height: 350px;
  background: rgba(0,0,0,.9);
}

@media(min-width:768px) and (max-width:991px) {
  header#top-nav .navbar-right .btn.btn-primary {
    background: 0 0;
    border: 0;
    font-size: 20px;
  }
  header#top-nav .navbar-right .btn.btn-primary i {
    margin-right: 0;
  }
  footer .links ul li {
    padding-right: 20px;
  }
}

@media(min-width:768px) {
  .navbar-nav {
    margin-right: auto;
    margin: 0;
  }
  .navbar-nav>li {
    margin-right: auto;
  }
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -10px;
  }
}

@media(min-width:768px) {
  .navbar-left {
    margin-right: auto!important;
  }
  .navbar-right {
    margin-left: auto!important;
    flex-direction: row!important;
    /*margin-top: 0px!important;*/
  }
}

@media(max-width:767px) {
  .hidden-xs {
    display: none!important;
  }
}

@media(min-width:768px) and (max-width:991px) {
  .hidden-sm {
    display: none!important;
  }
}

@media(min-width:992px) and (max-width:1199px) {
  .hidden-md {
    display: none!important;
  }
}

@media(min-width:1200px) {
  .hidden-lg {
    display: none!important;
  }
}

#mainNav .navbar-nav .btn {
  height:32px;
  line-height:30px;
  padding:0 15px;
  margin-top:10px;
}

#mainNav .navbar-nav.navbar-right .btn {
  margin-top:8px
}

#mainNav .navbar-nav.navbar-right .btn i {
  margin-right:10px
}

#mainNav .navbar-nav.navbar-right .btn .avatar {
  border-radius:50%;
  height:30px;
  margin-right:10px
}

/* ############ search button ################ */

.navbar-form {
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
    margin-top: 8px;
    margin-bottom: 8px;
}

@media (min-width: 768px){
  .navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
 }
}


#mainNav #header-search {
  margin:7px 0 0;
  padding:0;
  z-index:1;
  position:relative
}

#mainNav #header-search #header-search-button {
  margin-left: auto;
  cursor:pointer;
  transition:all .5s
}

#mainNav #header-search #header-search-button.btn-primary {
  border-color:#02178e
}

#mainNav #header-search #header-search-button.btn-primary:hover {
  background-color:#02178e
}

#mainNav #header-search #header-search-query {
  padding:7px 0;
  border:0;
  margin-right: auto;
  width:0;
  transition:all .5s;
  overflow:hidden;
  -webkit-appearance:none;
  border-radius:0;
  outline:0
}

#mainNav #header-search #header-search-query.open {
  padding:7px 12px;
  width:250px
}

#mainNav #header-search #header-search-type {
  opacity:0;
  transition:all .5s
}

#mainNav #header-search #header-search-type a {
  color:#000;
  cursor:pointer
}

#mainNav #header-search #header-search-type.shown {
  opacity:1
}

#mainNav #header-search #header-search-type.shown .dropdown-toggle {
  display:inline-block
}

#mainNav #header-search #header-search-type .dropdown-toggle {
  border-bottom:0;
  border-top:0;
  border-right:0;
  padding-top:7px;
  padding-bottom:7px;
  display:none
}

/* ################## Random ###################### */

.text_right{
   margin-left: auto !important;
}

/* ############### badge ############################# */

.badge-geba {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: #dc3545;
}

.badge-geba.hidebadge {
    display:none;
}

.hidebtn {
    display:none;
}

.hideelement {
    display:none;
}