a.badge-tag {
    text-decoration: none;
}

.badge-tag {
    background-color: #515960;
    border-radius: 0.5rem;
    border: 0.5px solid black;
}

.geba-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #32383e;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 0.25rem;
    height: 100%;
}

.geba-card-body-header {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem 1.25rem 0rem 1.25rem;
}

.geba-card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    padding: 0rem 1.25rem 1.25rem 1.25rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.geba-align-col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
}

.geba_body-col-index {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}

.geba_body-col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
}


.geba-flex {
    display: flex;
}

.geba-col-outer {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.geba-caret-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    margin-right: 0px;
    padding-right: 5px;
}

.geba-large, .geba-medium-large {
    display: block;
}

.geba-large-flex {
    display: flex;
}

.geba-mobile, .geba-small, .geba-medium, .geba-small-flex {
    display: none;
}

@media (max-width: 840px) {
    .geba-large {
        display: none;
    }

    .geba-mobile {
        display: block;
    }

    .geba_body-col, .geba_body-col-index, .geba-align-col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
        flex: 0 0 85%;
        max-width: 85%;
    }

    .geba-medium {
        display: block;
    }

}

@media (max-width: 650px) {

    .geba-large, .geba-medium-large, .geba-large-flex {
        display: none;
    }

    .geba_body-col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
        flex: 0 0 90%;
        max-width: 90%;
    }

    .geba_body-col-index, .geba-align-col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 99%;
        flex: 0 0 99%;
        max-width: 99%;
    }

    .geba-small {
        display: block;
    }

    .geba-small-flex {
        display: flex;
    }

    .geba-medium {
        display: none;
    }
}
